<div class="wrap">
  <div class="form">
      <h3>PASSWORD</h3>
      <div class="form-group">
        <label for="exampleInputEmail1">請輸入註冊電子信箱：</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
          placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">請輸入驗證碼：</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Number">
      </div>
      <div class="buttonLink">
        <button (click)="submit()" type="button" class="btn btn-primary">寄送驗證碼</button>
        <button (click)="enter()" type="button" class="btn btn-primary">確定</button>
      </div>
  </div>
</div>
