@media screen {
  .head {
    background-color: white;
  }

  a.nav-link{
    color: black;
  }

  ul {
    margin-left: auto;
  }

  .content img {
    height: 600px;
  }

  form {
    margin-right: 10px;
    float: left;
  }

  ul li:nth-child(1) {
    letter-spacing: 3px;
  }

  .form-control {
    height: 30px;
  }

  ul li:nth-child(2) {
    margin-left: auto;
  }
}


@media screen and (max-width:480px){

  ul li:nth-child(2) {
    margin-left: auto;
  }
}

