<!-- <div class="head">
  <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand"><img src="../../assets/images/一訂行_藕粉.png" style="width: 35px; height: 35px;"></a>
      <button class="navbar-toggler collapsed" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="navbar-collapse collapse">
        <button (click)="signInWithGoogle()" class="loginBtn loginBtn--google">
          Login with Google
        </button>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="teach">
      <img class="pic" src="../../assets/images/使用說明.bmp">
    </div>
  </div>
</div> -->

<div class="wrap">
  <div class="content-left"></div>
  <div class="content-right"></div>
</div>
<div class="card">
  <div class="card-left">
    <span class="welcome">Welcome</span>
    <img class="left" src="../../assets/images/index-pic.jpg">
  </div>
  <div class="card-right">
    <div class="title">
      <img class="logo" src="../../assets/images/一訂行_藕粉.png">
      <span class="title-name">一訂行</span>
    </div>
    <div class="login" (click)="signInWithGoogle()" >
      <div class="loginBtn loginBtn--google">
        使用Google登入
      </div>
    </div>
    <a href="https://hackmd.io/zV5mB8HnTGqZwZ6_Cz47mg?view" target="_blank">
    <div class="user-teach">
      <span class="user">使用者手冊</span>
    </div>
    </a>
  </div>
</div>
