<div class="head">
  <div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand"><img src="../../assets/images/一訂行_藕粉.png" style="width: 35px; height: 35px;"></a>
      <button class="navbar-toggler collapsed" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div [ngbCollapse]="isMenuCollapsed" class="navbar-collapse collapse">
        <ul class="navbar-nav">
          <li class="nav-item" (click)="isMenuCollapsed = true">
            <a class="nav-link" [routerLink]="['/calendar']"><img src="../assets/images/person-24px.svg"></a>
          </li>
        </ul>
        <button class="loginBtn loginBtn--google" #loginRef>
          Login with Google
        </button>
      </div>
    </div>
  </div>
  <div class="content">
    <carousel class="carousel">
      <slide class="teach" >
        <img src="assets/images/匯入匯出.jpg" alt="first slide" class="pic" style="height: 500px;">
      </slide>
      <slide class="teach">
        <img src="assets/images/匯出修改.jpg" alt="first slide" class="pic" style="height: 500px;">
      </slide>
    </carousel>
  </div>
</div>
