[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
flake8-commas = "*"
ipython = "*"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "==3.11.2"
djangorestframework-simplejwt = "*"
django-ical = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
djangorestframework-camel-case = "*"
django-extensions = "*"
django-filter = "*"
drf-yasg = "*"
django-colorfield = "*"
python-telegram-bot = "*"
django-q = "*"

[requires]
python_version = "3.8"
