@import '../../styles.scss';

@media screen {

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  img {
    width     : 30px;
    height    : 30px;
    margin-top: $content-size_top-bottom;
  }

  .date-picker {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 250px;
    background-color: $color_primary;
  }

  article {
    padding-top : $height_header;
    padding-left: $width_aside;

    section.container {
      margin          : $content-size_left-right;
      margin-top      : $content-size_top-bottom*4;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;
    }

    .view {
      display: flex;

      .searchbox {
        margin-top   : $content-size_top-bottom/2;
        border-radius: 5px;
        width        : 30%;
        height       : 30px;
        box-sizing   : border-box;
        border       : solid $color_border 1px;
        position     : relative;
        margin-right : $content-size_left-right;
        transition   : 300ms;
        margin-left  : 50%;
        z-index      : 99;
        padding      : $content-size_top-bottom/2 $content-size_left-right/2;
      }

      .openDataBtn {
        display      : flex;
        width        : 10%;
        height       : 30px;
        border       : $color_border solid 1px;
        align-items  : center;
        margin-right : $content-size_left-right;
        margin-top   : $content-size_top-bottom/2;
        border-radius: 5px;
        padding      : 5px;
        cursor       : pointer;
        box-shadow   : 0px 0px 3px -3px rgba(0, 0, 0, 0.85);

        h3 {
          font-size  : 13px;
          font-weight: 500;
        }

        i {
          color: $color_accent;
        }
      }

      span {
        position   : absolute;
        color      : $color_icon;
        margin-top : 9px;
        margin-left: 54%;
        transition : 300ms;
        z-index    : 100;
      }

      .searchbox::placeholder {
        color: $color_icon;
      }

      .searchbox:focus {
        outline: none;
      }

      .searchbox:hover {
        border-color: $color_accent;
      }

      &_item {
        display: flex;

        li {
          color     : $color_icon;
          cursor    : pointer;
          transition: 300ms;
          margin-top: $content-size_top-bottom/2;

          i {
            font-size: 1.6rem;
          }

          hr {
            border    : solid 1px;
            margin-top: -5px;
          }
        }

        li.active {
          color: $color_accent !important;
        }

        li:hover {
          color: $color_accent;
        }

      }

    }


  }


  .aside {
    position        : fixed;
    z-index         : $z-index_second;
    overflow        : auto;
    box-sizing      : border-box;
    margin-top      : $height_header;
    padding         : $content-size_top-bottom $content-size_left-right;
    width           : $width_aside;
    height          : calc(100vh - #{$height_header});
    background-color: $color_white;
    box-shadow      : $box-shadow--left;
  }

  .item-categories {

    i {
      color : $color_icon;
      cursor: pointer;
    }


    &__title {
      display        : flex;
      align-items    : center;
      justify-content: space-between;
      padding        : $content-size_left-right/1.5 0;
      border-bottom  : $color_border solid 1px;
      font-size      : 1.2rem;

      &:hover,
      &.active {
        .item-categories__arrow {
          transform: rotate(-90deg);
        }
      }
    }

    &__arrow {
      transition: $transition_short;
    }

    &__list {
      display  : flex;
      flex-flow: column;
      padding  : $content-size_left-right/2 0;

      li {
        display    : inline-flex;
        align-items: center;
        padding    : $content-size_left-right/2 0;
        cursor     : pointer;
      }
    }

    &__checkbox {
      margin-right: $content-size_left-right/2;
    }

    &__item {
      flex: auto;
    }

    &__status {
      width        : 10px;
      height       : 10px;
      border-radius: 50%;
    }
  }

  body {
    background-color: $color_primary;
    color           : $color_text;
    font-weight     : 400;
    font-family     : 'Noto Sans TC', sans-serif;
  }

  .header {
    position        : fixed;
    z-index         : $z-index_first;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    box-sizing      : border-box;
    padding         : 0 $content-size_left-right;
    width           : 100%;
    height          : $height_header;
    background-color: $color_white;
    box-shadow      : $box-shadow;

    &__title {
      display    : inline-flex;
      align-items: center;
      color      : $color_accent;
    }

    &__icon {
      margin-right : $content-size_left-right/1.2;
      padding-right: $content-size_left-right/1.2;
      border-right : $color_border solid 1px;
      font-size    : 1.5rem;
    }

    &__name {
      font-size: 1.3rem;
    }

    &__navbar {
      display    : inline-flex;
      align-items: center;
    }

    &__function {
      display: flex;

      li {
        padding   : $content-size_top-bottom $content-size_left-right/2;
        color     : $color_icon;
        cursor    : pointer;
        transition: 300ms;
        margin-top: $content-size_top-bottom/2;

        i {
          font-size: 1.4rem;
          outline  : none;
        }

        i:hover {
          color     : $color_accent;
          transition: $transition_short;
        }
      }
    }

    &__person {
      display     : flex;
      align-items : center;
      margin-left : $content-size_left-right/1.2;
      padding-left: $content-size_left-right/1.2;
      border-left : $color_border solid 1px;
      color       : $color_icon;
      cursor      : pointer;
    }

    &__person-name {
      min-width: 3.5rem;
      color    : $color_text;
    }

    &__avatar {
      display         : flex;
      align-items     : center;
      justify-content : center;
      width           : 36px;
      height          : 36px;
      border-radius   : 50%;
      background-color: $color_icon;
      color           : $color_white;
    }
  }

  .event-list {
    &--small {
      .event-list__content {
        display: none;
      }

      .event-list__title {
        flex: 2;
      }
    }

    &--grid {

      >li:not(.event-list__header),
      li:not(.event-list__phase) {
        display: grid;
      }

      .event-list__header {
        >div:not(.event-list__title) {
          display: none;
        }
      }

      .event-list__title {
        width : fit-content;
        margin: 0px auto;
      }

      li.event-list__card {
        display   : inline-block;
        width     : 31%;
        margin    : 0;
        text-align: center;
        margin    : $content-size_top-bottom $content-size_left-right/2;
        box-shadow: 1px 1px 7px -3px rgba(0, 0, 0, 0.75);
      }
    }

    li {
      display    : flex;
      align-items: center;
      flex-flow  : row nowrap;
      line-height: 1.5;

      &:not(.event-list__header):not(.event-list__phase) {
        min-height   : 5rem;
        border-bottom: $color_border solid 1px;
      }

      &:nth-last-child(1) {
        border-bottom: none !important;
      }

      >div {
        padding: $content-size_top-bottom $content-size_left-right;
      }
    }

    &__header {
      background-color: $color_table-header;
      color           : $color_text-light;
      font-size       : 0.9rem;
    }

    &__phase {
      padding         : $content-size_top-bottom $content-size_left-right;
      background-color: $color_table-phase;
      font-size       : 0.9rem;
    }

    &__title {
      display: flex;
      flex   : 2;
    }

    &__radius {
      display      : inline-block;
      margin-right : $content-size_top-bottom;
      min-width    : 10px;
      height       : 10px;
      border-radius: 50%;
      margin-top   : 8px;
    }

    &__content {
      flex: 2 0px;
    }

    &__text {
      font-size: 0.9rem;
      opacity  : 0.5;
    }

    &__office,
    &__date {
      flex     : 0.7 0px;
      font-size: 0.9rem;
    }

    &__tag {
      padding      : $content-size_top-bottom/1.5 $content-size_left-right;
      border-radius: 20px;
      color        : $color_white;
    }
  }

  .modal_dialog {
    width           : 20%;
    height          : fit-content;
    margin-left     : auto;
    margin-right    : auto;
    background-color: $color_white;
    margin-top      : $content-size_top-bottom*13;
    border-radius   : 10px;
    box-shadow      : 0px 0px 5px 0px rgba(0, 0, 0, 0.13);

    .modal_header {
      padding-top : $content-size_top-bottom;
      text-align  : right;
      margin-right: $content-size_left-right/2;

      i {
        height: 20px;
        width : 20px;
        cursor: pointer;
      }

      i:hover {
        color     : $color_accent;
        transition: $transition_short;
      }
    }

    .modal_body {
      padding: 10px;

      span {
        font-size: 18px;
        margin-left: $content-size_left-right;
      }

      .item {
        width: 70%;
        height: 30px;
        background-color: $color_accent;
        color: white;
        margin-left: auto;
        margin-right: auto;
        margin-top: $content-size_top-bottom;
        border-radius: 5px;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
      }

      .item:nth-last-child(1) {
        margin-bottom: $content-size_top-bottom;
      }
    }
  }




}


@media screen and (max-width:480px) {}
