@import '../../styles.scss';

@media screen {

  .aside {
    position        : fixed;
    z-index         : $z-index_second;
    overflow        : auto;
    box-sizing      : border-box;
    margin-top      : $height_header;
    padding         : $content-size_top-bottom $content-size_left-right;
    width           : $width_aside;
    height          : calc(100vh - #{$height_header});
    background-color: $color_white;
    box-shadow      : $box-shadow--left;

    .addBtn {
      display         : flex;
      align-items     : center;
      justify-content : center;
      height          : 50px;
      margin-top      : $content-size_top-bottom;
      cursor          : pointer;
      border-radius   : 40px;
      color           : white;
      background-color: $color_accent;
      box-shadow      : 0px 1px 6px -2px #000000;
      letter-spacing  : 1px;

      i {
        margin-right: $content-size_left-right/2;
        color       : white;
      }
    }

    .addBtn:hover {
      box-shadow: 0px 1px 6px -2px $color_accent;
    }

    .item-categories {
      margin-top: $content-size_top-bottom;

      &__title {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        padding        : $content-size_left-right/1.5 0;
        border-bottom  : $color_border solid 1px;
        font-size      : 1.2rem;

        &:hover,
        &.active {
          .item-categories__arrow {
            transform: rotate(-90deg);
          }
        }
      }

      &__arrow {
        transition: $transition_short;
      }

      &__list {
        display  : flex;
        flex-flow: column;
        padding  : $content-size_left-right/2 0;

        .openCalendar__list {
          display    : flex;
          align-items: center;
          cursor     : pointer;
          padding    : $content-size_left-right/2 0;

          &__radius {
            display      : inline-block;
            margin-right : $content-size_top-bottom;
            min-width    : 10px;
            height       : 10px;
            border-radius: 50%;
          }

          i {
            font-size  : 15px;
            color      : black;
            margin-left: auto;
            cursor     : pointer;
          }

          i:hover {
            color: $color_accent;
          }
        }

      }

    }
  }

  article {
    padding-top : $height_header;
    padding-left: $width_aside;

    section.container {
      width           : 96%;
      margin          : $content-size_left-right;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;

      .content {
        padding: $content-size_top-bottom $content-size_left-right;

        h2 {
          width         : 15%;
          letter-spacing: 1px;
        }

        &__name {
          display    : flex;
          align-items: center;

          h2 {
            font-size: 20px;
          }

          input {
            width        : 450px;
            border       : 0;
            outline      : 0;
            border-radius: 0;
            background   : transparent;
            font-size: 17px;
            letter-spacing: 1px;
            border-bottom: 2px solid $color_text-light;
          }

          input:focus,
          input:hover {
            border-bottom: 2px solid $color_accent;
          }
        }

        &__color {
          display    : flex;
          align-items: center;
          margin-top : $content-size_top-bottom*2;

          .color {
            width        : 45px;
            height       : 15px;
            border-radius: 5px;
            cursor       : pointer;

            i {
              position : relative;
              color    : $color_border;
              font-size: 10px;
              left     : 70%;
              top      : -30%;
            }
          }
        }

        &__description {
          display    : flex;
          align-items: center;
          margin-top : $content-size_top-bottom*2;

          textarea {
            min-width  : 70%;
            min-height : 100px;
            font-size  : 13px;
            margin-left: $content-size_left-right;
          }
        }

        &__permission {
          display   : flex;
          margin-top: $content-size_top-bottom*2;

          .attribute {
            width  : 20%;
            display: flex;

            span {
              border-radius: 30px;
            }
          }

        }

        &__office {
          margin-top: $content-size_top-bottom*2;

          &__header {
            display    : flex;
            align-items: center;

            .add {
              width           : fit-content;
              display         : flex;
              letter-spacing  : 1px;
              align-items     : center;
              margin-left     : auto;
              font-size: 13px;
              color           : white;
              border-radius   : 90px;
              cursor          : pointer;
              background-color: $color_second;
              padding         : $content-size_top-bottom/4 $content-size_left-right/2;

              i {
                color: white;
              }
            }
          }

          .otherOffice {
            width     : 100%;
            margin-top: $content-size_top-bottom;
            font-size : 14px;

            &__title {
              display         : flex;
              padding         : $content-size_top-bottom $content-size_left-right;
              background-color: $color_table-header;
              border-radius   : 5px 5px 0 0;
              border          : 1px $color_form_control solid;
            }

            &__content {
              display      : flex;
              border-left  : 1px $color_form_control solid;
              border-bottom: 1px $color_form_control solid;
              border-right : 1px $color_form_control solid;
              padding      : $content-size_top-bottom $content-size_left-right;

              select {
                width: 80%;
              }
            }

            &__name {
              flex: 1;
            }

            &__role {
              flex: 1;
            }

            &__permission {
              flex: 1;
            }

            &__delete {
              flex: 0.3;

              i {
                cursor    : pointer;
                margin-top: $content-size_top-bottom/2;
                color     : red;
              }
            }
          }
        }

        &__btn {
          display    : flex;
          align-items: center;
          margin-top : $content-size_top-bottom*2;

          .btn {
            width           : 9%;
            height          : 30px;
            font-size       : 0.9rem;
            color           : white;
            text-align      : center;
            cursor          : pointer;
            display         : flex;
            align-items     : center;
            justify-content: center;
            border-radius   : 5px;


            i {
              color      : white;
            }

            span {
              margin-left: $content-size_left-right/4;
            }
          }

          .submit {
            background-color: $color_accent;
            margin-left     : $content-size_left-right/2;
          }

          .delete {
            background-color: rgba($color: red, $alpha: 0.6);
            margin-left     : auto;
          }
        }
      }
    }

  }

}


@media screen and (max-width:480px) {}
