/* You can add global styles to this file, and also import other style files */
@import 'bootswatch/dist/sketchy/bootstrap.min.css';

@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

@import '~pretty-checkbox/src/pretty-checkbox.scss';


html,
body {
  width           : 100%;
  height          : 100%;
  margin          : 0;
  background-color: rgb(48, 48, 48);
}

.theme-green .bs-datepicker-head {
  background-color: rgb(48, 48, 48);
}

.theme-green .bs-datepicker-body table td.week span {
  display: none;
}

.table-active,
.table-active>th,
.table-active>td {
  background-color: #eee;
}

.fc-ltr .fc-list-heading-main {
  color         : black;
  letter-spacing: 4px;
}

.fc-ltr .fc-list-heading-alt {
  color         : black;
  letter-spacing: 4px;
  margin-right  : 10px;
}

.fc-listYear-view td {
  border-style: none;
}

.fc-list-view {
  border: none;
}

.fc-toolbar h2 {
  color: white;
}

.fc-scroller {
  background-color: white;
}

.fc-listYear-view td:nth-child(1) {
  padding-left: 10px;
}

.fc-list-item-time {
  letter-spacing: 4px;
}

.fc-list-item-title a {
  letter-spacing: 1px;
  margin-left   : 10px;
}

.card-header {
  border-style    : unset;
  background-color: unset;
}



@media screen and (max-width:480px) {
  .completer-holder {
    margin-left: 15%;
  }

}
