<div class="wrap">
  <app-user-header></app-user-header>
  <div class="container">
    <div class="bar">
      <span class="badge badge-light">選擇匯出行事曆</span>
      <br>
      <div class="mine pretty p-default p-curve p-thick">
        <input type="checkbox" />
        <div class="state">
          <label class="mine">我的行事曆</label>
        </div>
      </div>
      <hr>
      <span class="badge badge-light">我的訂閱</span>
      <div class="card">
        <div class="pretty p-default p-curve p-thick">
          <input type="checkbox" class="card-checkbox"/>
          <div class="state">
            <label class="customize">期中考</label>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="card">
        <div class="footer">
          <img src="../assets/images/clear-black-18dp.svg" [routerLink]="['/user-calendar']">
          <img src="../assets/images/save_alt-black-18dp.svg">
        </div>
      </div>
    </div>
  </div>
</div>
