@media screen {

  .wrap {
    width    : 100%;
    height   : 100%;
    position : relative;
    min-width: 320px;
  }

  .head {
    background-color: rgb(48, 48, 48);
  }

  a.nav-link {
    color: white;
  }

  .bar {
    float: left;
  }

  ul li:nth-child(2) {
    margin-left: auto;
  }

  .bar span {
    font-size: 20px;
    width: 100%;
  }

  .bar .card {
    width           : 100%;
    background-color: #eee;
    height          : 280px;
    border          : 1px solid black;
    margin-bottom   : 20px;
  }

  .list {
    margin-top : 10px;
    text-align: left;
    margin-left: 20%;
  }

  input.mine {
    margin-top: 20px;
    text-align: left;
  }

  hr {
    border-color: #aaa;
  }

  .bar {
    width     : 20%;
    text-align: center;
  }

  .content {
    width      : 80%;
    margin-left: 23%;
  }

  .content .card {
    height: 480px;
    border: 1px solid black;
  }

  .container {
    margin-top: 20px;
  }

}

@media screen and (max-width:480px) {
  ul li:nth-child(2) {
    margin-left: 0px;
  }

  .bar {
    float: none;
    width: 100%;
  }

  .content .card {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .content {
    width      : 100%;
    margin-left: 0;
  }

  input.mine {
    margin-left: -10%;
  }

  .bar .card {
    width      : 60%;
    margin-left: 20%;
  }

  .btn-group {
    margin-bottom: 10px;
  }
}
