@import '../../styles.scss';

@media screen {

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  a {
    text-decoration: none;
    color          : $color_icon;
  }

  a:hover {
    color: $color_accent;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  table {
    border-collapse: collapse;
    border-spacing : 0;
  }

  .date-picker {
    display         : flex;
    align-items     : center;
    justify-content : center;
    height          : 50px;
    background-color: $color_accent;
    color           : white;
    margin          : $content-size_top-bottom 0;
    cursor          : pointer;
  }

  article {
    padding-top : $height_header;
    padding-left: $width_aside;

    section.container {
      margin          : $content-size_left-right;
      margin-top      : $content-size_top-bottom*4;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;
    }

  }


  .aside {
    position        : fixed;
    z-index         : $z-index_second;
    overflow        : auto;
    box-sizing      : border-box;
    margin-top      : $height_header;
    padding         : $content-size_top-bottom $content-size_left-right;
    width           : $width_aside;
    height          : calc(100vh - #{$height_header});
    background-color: $color_white;
    box-shadow      : $box-shadow--left;
  }

  .item-categories {

    i {
      color : $color_icon;
      cursor: pointer;
    }


    &__title {
      display        : flex;
      align-items    : center;
      justify-content: space-between;
      padding        : $content-size_left-right/1.5 0;
      border-bottom  : $color_border solid 1px;
      font-size      : 1.2rem;

      &:hover,
      &.active {
        .item-categories__arrow {
          transform: rotate(-90deg);
        }
      }
    }

    &__arrow {
      transition: $transition_short;
    }

    &__list {
      display  : flex;
      flex-flow: column;
      padding  : $content-size_left-right/2 0;

      li {
        display    : inline-flex;
        align-items: center;
        padding    : $content-size_left-right/2 0;
        cursor     : pointer;

        /* The container */
        .container {
          display            : block;
          position           : relative;
          padding-left       : 35px;
          margin-bottom      : 12px;
          cursor             : pointer;
          -webkit-user-select: none;
          -moz-user-select   : none;
          -ms-user-select    : none;
          user-select        : none;
        }

        /* Hide the browser's default checkbox */
        .container input {
          position: absolute;
          opacity : 0;
          cursor  : pointer;
        }

        /* Create a custom checkbox */
        .checkmark {
          position: absolute;
          top     : 3px;
          left    : 5px;
          height  : 20px;
          width   : 20px;
          border  : 2px solid $color_border;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked~.checkmark {
          background-color: $color_accent;
          border          : none;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
          content : "";
          position: absolute;
          display : none;
        }

        /* Show the checkmark when checked */
        .container input:checked~.checkmark:after {
          display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
          left             : 7px;
          top              : 3px;
          width            : 5px;
          height           : 10px;
          border           : solid white;
          border-width     : 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          -ms-transform    : rotate(45deg);
          transform        : rotate(45deg);
        }

      }
    }

    &__checkbox {
      margin-right: $content-size_left-right/2;
    }

    &__item {
      flex: auto;
    }

    &__status {
      margin-top   : -$content-size_top-bottom;
      width        : 10px;
      height       : 10px;
      border-radius: 50%;
    }
  }

  body {
    background-color: $color_primary;
    color           : $color_text;
    font-weight     : 400;
    font-family     : 'Noto Sans TC', sans-serif;
  }

  .event-list {

    .table thead th {
      padding: 10px;
    }

    .table td {
      padding: 10px;
    }

    &__header {
      background-color: $color_table-header;
      color           : $color_text-light;
      font-size       : 1rem;
    }

    &__phase {
      padding  : $content-size_top-bottom $content-size_left-right;
      font-size: 0.9rem;
    }

  }

  .material-icons {
    font-family   : 'Material Icons';
    font-weight   : normal;
    font-style    : normal;
    font-size     : 24px;
    /* Preferred icon size */
    display       : inline-block;
    line-height   : 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap     : normal;
    white-space   : nowrap;
    direction     : ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering        : optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }
}

@media screen and (max-width:480px) {}
