<div class="wrap">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="bar">
      <ul class="nav">
        <div class="form-group">
          <select class="form-control" id="exampleSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">學年度</a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">行程名稱</th>
              <th scope="col">開始</th>
              <th scope="col">結束</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of datas">
            <td *ngFor="let val of row">
              {{val}}
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked="" autocomplete="off" [routerLink]="['/calendar']"> 取消
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" autocomplete="off" (click)="daochu()"> 匯出
        </label>
      </div>
    </div>
  </div>
</div>
