@import '../../styles.scss';

@media screen {

  .aside {
    position        : fixed;
    z-index         : $z-index_second;
    overflow        : auto;
    box-sizing      : border-box;
    margin-top      : $height_header;
    padding         : $content-size_top-bottom $content-size_left-right;
    width           : $width_aside;
    height          : calc(100vh - #{$height_header});
    background-color: $color_white;
    box-shadow      : $box-shadow--left;

    .item-categories {

      &__title {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        padding        : $content-size_left-right/1.5 0;
        border-bottom  : $color_border solid 1px;
        font-size      : 1.2rem;

        &:hover,
        &.active {
          .item-categories__arrow {
            transform: rotate(-90deg);
          }
        }

        .name {
          display    : flex;
          align-items: center;

          span {
            margin-left: $content-size_left-right/2;
          }
        }
      }

      &__arrow {
        transition: $transition_short;
      }

      &__list {
        display  : flex;
        flex-flow: column;
        padding  : $content-size_left-right/2 0;
      }

      &__chooseFile {
        display    : flex;
        align-items: center;

        i {
          color: white;
        }

        .chooseFile {
          display         : flex;
          align-items     : center;
          border-radius   : 90px;
          color           : white;
          justify-content : center;
          background-color: $color_accent;
          box-shadow      : 0px 1px 6px -2px #000000;
          margin          : $content-size_top-bottom*2 0;
          cursor          : pointer;
          letter-spacing  : 1px;
          height          : 50px;
          width           : 100%;
        }

        .chooseFile:hover {
          box-shadow: 0px 1px 6px -2px $color_accent;
        }
      }

      h3 {
        width         : 37%;
        margin-left   : auto;
        font-size     : 13px;
        font-weight   : 600;
        color         : $color_text;
        letter-spacing: 1px;
        cursor        : pointer;
      }

      h3:hover {
        color        : $color_accent;
        border-bottom: $color_accent 1px solid;
      }


    }
  }

  article {
    padding-top : $height_header;
    padding-left: $width_aside;

    section.container {
      width           : 96%;
      margin          : $content-size_left-right;
      margin-top      : $content-size_top-bottom*4;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;
    }

    .event-list {
      text-align: center;

      .table thead th {
        padding: 10px;
      }

      .table td {
        color: $color_text;
        padding: 10px;
        width  : 20%;
      }

      &__header {
        background-color: $color_table-header;
        color           : $color_text-light;
        font-size       : 1rem;
      }

      &__phase {
        padding  : $content-size_top-bottom $content-size_left-right;
        font-size: 0.9rem;
      }

    }

    .submit {
      display         : flex;
      align-items     : center;
      justify-content : center;
      width           : 8%;
      background-color: $color_accent;
      color           : white;
      border-radius   : 5px;
      margin-left     : 92%;
      padding         : $content-size_top-bottom/2 $content-size_left-right;
      margin-top      : $content-size_top-bottom*2;
      cursor          : pointer;
    }

  }

}

@media screen and (max-width:480px) {}
