@import '../../styles.scss';

@media screen {
  article {
    padding-top   : $height_header;
    letter-spacing: 1px;

    section.container {
      width           : 90%;
      margin          : $content-size_left-right auto;
      margin-top      : $content-size_top-bottom*4;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;

      .date-picker {
        display         : flex;
        align-items: center;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
      }

      h3 {
        width: 150px;
        font-weight : 600;
        margin-left: $content-size_left-right/2;
        font-size   : 17px;
      }

      .date-range {
        display     : flex;
        align-items : center;

        input {
          width: 200px;
          margin-left: $content-size_left-right;
        }

        span {
          margin-left: $content-size_left-right;
        }

        .look {
          padding         : $content-size_top-bottom/2 $content-size_left-right/2;
          background-color: $color_accent;
          color           : white;
          letter-spacing  : 2px;
          cursor: pointer;
          border-radius   : 5px;
          margin-left     : $content-size_left-right*2;
        }
      }
    }

    section.body {
      width           : 89%;
      margin          : $content-size_left-right auto;
      margin-top      : $content-size_top-bottom;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;

      .category {
        display: flex;
        width  : 95%;
        margin : $content-size_top-bottom*3 auto;

        &__item {
          width      : 32%;
          margin-left: $content-size_left-right;

          h2 {
            font-size  : 19px;
            font-weight: 550;
          }

          hr {
            height      : 3px;
            margin-top  : 3px;
            border-color: $color_icon;
          }

          .item-title {
            display         : flex;
            width           : 100%;
            background-color: $color_icon;
            color           : white;
            margin-top      : -10px;
            padding         : 5px;
            text-align: center;

            &__date {
              width: 25%;
            }

            &__time {
              width: 25%;
            }

            &__name {
              width: 50%;
            }
          }

          &__content {
            overflow  : auto;
            height    : 400px;
            box-shadow: $box-shadow--container;
          }
        }
      }
    }

  }

}

@media screen and (max-width:480px) {}
