<app-navbar></app-navbar>
<main>
  <article>
    <section class="container">
      <h3>選擇日期區間</h3>
      <div class="date-range">
        <select class="form-control year"></select><span>年</span>
        <select class="form-control month"></select><span>月</span>
        <select class="form-control day"></select><span>日</span>
        <span class="point">至</span>
        <select class="form-control year"></select><span>年</span>
        <select class="form-control month"></select><span>月</span>
        <select class="form-control day"></select><span>日</span>
      </div>
    </section>
    <section class="body">
      <ul class="category">
        <li class="category__item">
          <h2>自行發起會議</h2>
          <hr>
          <ul class="item-title">
            <li class="item-title__date">日期</li>
            <li class="item-title__time">時間</li>
            <li class="item-title__name">會議名稱</li>
          </ul>
        </li>
        <li class="category__item">
          <h2>受邀參與的會議</h2>
          <hr>
          <ul class="item-title">
            <li class="item-title__date">日期</li>
            <li class="item-title__time">時間</li>
            <li class="item-title__name">會議名稱</li>
          </ul>
        </li>
        <li class="category__item">
          <h2>已結束會議</h2>
          <hr>
          <ul class="item-title">
            <li class="item-title__date">日期</li>
            <li class="item-title__time">時間</li>
            <li class="item-title__name">會議名稱</li>
          </ul>
        </li>
      </ul>
    </section>
  </article>
</main>
