<header class="header">
  <h1 class="header__title">
    <i class="header__icon" [routerLink]="['/calendar']">
      <img src="../../../assets/images/一訂行_湖水綠.png">
    </i>
    <span class=" header__name" [routerLink]="['/calendar']">
      一訂行
    </span>
  </h1>
  <nav class="header__navbar">
    <ul class="header__function">
      <li ngbDropdown class="nav-item dropdown">
        <i class="material-icons" ngbDropdownToggle>
          launch
        </i>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/official-add']" ngbDropdownItem *ngIf="staff === 'true'">匯出修改</a>
          <a class="dropdown-item" [routerLink]="['/official-change']" ngbDropdownItem *ngIf="staff === 'true'">匯入建立</a>
          <a class="dropdown-item" [routerLink]="['/opendata']" ngbDropdownItem>OpenData</a>
          <a class="dropdown-item" [routerLink]="['/export']" ngbDropdownItem *ngIf="staff === 'true'">匯出PDF</a>
        </div>
      </li>
      <li>
        <i class="material-icons" [routerLink]="['/user-teach']">
          help_outline
        </i>
      </li>
      <li>
        <i class="material-icons" [routerLink]="['/add-subscribe']">
          bookmarks
        </i>
      </li>
      <li ngbDropdown class="nav-item dropdown">
        <i class="material-icons" ngbDropdownToggle>
          queue
        </i>
        <div class="dropdown-menu" ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/add-schedule']" ngbDropdownItem>新增行程</a>
          <a class="dropdown-item" [routerLink]="['/meeting']" ngbDropdownItem>查看會議</a>
        </div>
      </li>
    </ul>
    <div class="header__person">
      <ul>
        <li ngbDropdown class="nav-item dropdown">
          <div class="header__avatar" ngbDropdownToggle>{{userName}}</div>
          <div class="dropdown-menu" ngbDropdownMenu>
            <a class="dropdown-item" [routerLink]="['/my-url']" ngbDropdownItem>我的URL</a>
            <a class="dropdown-item" [routerLink]="['/common-user']" ngbDropdownItem>常用參與人員</a>
            <a class="dropdown-item" [routerLink]="['/add-calendar']" ngbDropdownItem>行事曆管理</a>
            <a class="dropdown-item" ngbDropdownItem (click)="logout()">登出</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>
