<div class="body-content">
  <div class="left">
    <input type="checkbox" name="" id="sideMenu-active">
    <div class="sideMenu">
      <label for="sideMenu-active" class="close">
        <i class="material-icons">east</i>
      </label>
      <div class="sideMenu__content">
        <div class="sideMenu__content__subscribe" routerLink="/add-subscribe">
          <i class="material-icons">
            bookmarks
          </i>
          <span>新增訂閱</span>
        </div>
        <div class="sideMenu__content__userTeach" routerLink="/user-teach">
          <i class="material-icons">
            help_outline
          </i>
          <span>使用說明</span>
        </div>
        <ul>
          <li>
            <div class="sideMenu__content__title active">
              <div class="title">
                <i class="material-icons">
                  library_add
                </i>
                <h1>行程管理</h1>
              </div>
              <div class="form-group row">
                <i class="material-icons sideMenu__content__arrow" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                  arrow_left
                </i>
              </div>
            </div>
            <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
              <ul class="sideMenu__content__list">
                <li>
                  <div class="sideMenu__content__add" routerLink="/add-schedule">
                    <span>新增行程</span>
                  </div>
                  <div class="sideMenu__content__add" routerLink="/meeting">
                    <span>查看會議</span>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="sideMenu__content__title active">
              <div class="title">
                <i class="material-icons">
                  open_in_new
                </i>
                <h1>匯出入管理</h1>
              </div>
              <div class="form-group row">
                <i class="material-icons sideMenu__content__arrow" (click)="isTrue = !isTrue"
                  [attr.aria-expanded]="!isTrue" aria-controls="collapseBasic">
                  arrow_left
                </i>
              </div>
            </div>
            <div id="collapseBasic" [collapse]="isTrue" [isAnimated]="true">
              <ul class="sideMenu__content__list">
                <li *ngIf="staff === 'true'">
                  <div class="sideMenu__content__add" routerLink="/official-add">
                    <span>匯出修改</span>
                  </div>
                  <div class="sideMenu__content__add" routerLink="/official-change">
                    <span>匯入建立</span>
                  </div>
                </li>
                <li>
                  <div class="sideMenu__content__add" routerLink="/opendata">
                    <span>OpenData</span>
                  </div>
                  <div class="sideMenu__content__add" routerLink="/export" *ngIf="staff === 'true'">
                    <span>匯出PDF</span>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <label for="sideMenu-active" class="open">
      <i class="material-icons">menu</i>
    </label>
  </div>
  <div class="right">
    <app-navbar></app-navbar>
    <main>
      <article>
        <section class="container">
          <div class="add">
            <div class="add__title">
              <h1>標題</h1>
              <input type="text" placeholder="請輸入標題" [(ngModel)]="title" (keyup)="0" required>
            </div>
            <div class="add__attributes">
              <i class="material-icons">
                edit_attributes
              </i>
              <h2>行程屬性：</h2>
              <ul>
                <li>
                  <label class="container">
                    <input type="checkbox" class="material-icons item-categories__checkbox" [(ngModel)]="isMeet"
                      value="會議" (change)="meet($event)">會議
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="container">
                    <input type="checkbox" class="material-icons item-categories__checkbox" [(ngModel)]="isSchedule"
                      value="行程" (change)="schedule($event)">行程
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <div class="add__calendar">
              <i class="material-icons">
                event_available
              </i>
              <h2>發布單位：</h2>
              <select class="add__calendar__list form-control" [(ngModel)]="selectMainCalendar"
                (change)="changeSelectCalendar(selectMainCalendar)">
                <option *ngFor="let calendar of calendars">{{calendar.name}}</option>
              </select>
              <div class="other" (click)="inviteCalendar()">添加至其他行事曆</div>
            </div>
            <div class="add__time">
              <i class="material-icons">
                access_time
              </i>
              <h2>開始時間：</h2>
              <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                [(ngModel)]="startDate" required>
              <ngb-timepicker [(ngModel)]="startTime" [seconds]="seconds" [spinners]="spinners" [meridian]="meridian"
                class="timepicker" #addStartTime required></ngb-timepicker>
            </div>
            <div class="add__time">
              <i class="material-icons">
                access_time
              </i>
              <h2>結束時間：</h2>
              <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                [(ngModel)]="endDate" required>
              <ngb-timepicker [(ngModel)]="endTime" [seconds]="seconds" [spinners]="spinners" [meridian]="meridian"
                class="timepicker" #addEndTime required></ngb-timepicker>
            </div>
            <div class="add__more">
              <button type="button" class="btn btn-primary disabled" (click)="isOpen = !isOpen"
                [attr.aria-expanded]="!isOpen" aria-controls="collapseBasic">進階
              </button>
            </div>
            <hr>
            <div id="collapseBasic" [collapse]="isOpen" [isAnimated]="true">
              <div class="add__location">
                <i class="material-icons">
                  place
                </i>
                <h2>地點：</h2>
                <input type="text" class="location form-control" [(ngModel)]="location">
                <div class="add__participant">
                  <i class="material-icons">
                    people
                  </i>
                  <h2>參與人員：</h2>
                  <form [formGroup]="sendEmailForm" (ngSubmit)="send(sendEmailForm.value)" class="email">
                    <div>
                      <input type="email" class="form-control" placeholder="輸入邀請對象北商Email" formControlName="toAddress">
                    </div>
                    <input type="submit" class="addUserBtn" [disabled]="!sendEmailForm.valid" value="邀請">
                  </form>
                  <div class="add__common-user" (click)="commonUser()">
                    <i class="material-icons">
                      person_add
                    </i>
                    <h3>常用參與人員</h3>
                  </div>
                </div>
              </div>
              <div class="add__description">
                <i class="material-icons">
                  subject
                </i>
                <h2>事由：</h2>
                <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="description"
                  placeholder="新增說明"></textarea>
                <div class="all_participants" placeholder="參與對象">
                  <ul>
                    <li *ngFor="let name of userEmail;let index = index">
                      <i class="clear material-icons" (click)="removeAddUser(index)">
                        clear
                      </i>
                      <h3>{{name.email}}</h3>
                      <span>
                        <i class="noresponse material-icons" *ngIf="name.response === 'no_reply'">
                          info
                        </i>
                        <i class="attend material-icons" *ngIf="name.response === 'accept'">
                          done_all
                        </i>
                        <i class="deny material-icons" *ngIf="name.response === 'decline'">
                          highlight_off
                        </i>
                      </span>
                    </li>
                  </ul>
                </div>
                <div class="all_common-user">
                  <input type="button" class="form-control" value="推薦時間" (click)="adviseTime()">
                </div>
              </div>
              <div class="add__file">
                <i class="material-icons">
                  attach_file
                </i>
                <h2>附件：</h2>
                <div class="custom-file">
                  <input id="customFileInput" type="file" (change)="fileSelected($event)" multiple="multiple">
                  <label for="customFileInput" class="button-primary">
                    <span>選擇檔案</span>
                  </label>
                </div>
              </div>
              <div class="add__all__files">
                <ul class="file">
                  <li *ngFor="let name of fileName; let index = index">
                    <i class="material-icons" (click)="removeSelectedFile(index)">
                      clear
                    </i>
                    <h4>{{name}}</h4>
                  </li>
                </ul>
              </div>
            </div>
            <div class="subBtn">
              <div class="cancel" routerLink="/calendar">
                <i class="material-icons">
                  clear
                </i>
                <span>取消</span>
              </div>
              <div class="submit" (click)="update()">
                <i class="material-icons">
                  done_all
                </i>
                <span>確定</span>
              </div>
            </div>
          </div>
        </section>
        <section class="small">
          <div class="add">
            <div class="add__title">
              <h1>標題</h1>
              <input type="text" placeholder="請輸入標題" [(ngModel)]="title" (keyup)="0" required>
            </div>
            <hr>
            <div class="add__attributes">
              <i class="material-icons">
                edit_attributes
              </i>
              <h2>行程屬性</h2>
              <ul>
                <li>
                  <label class="container">
                    <input type="checkbox" class="material-icons item-categories__checkbox" [(ngModel)]="isMeet"
                      value="會議" (change)="meet($event)">會議
                    <span class="checkmark"></span>
                  </label>
                </li>
                <li>
                  <label class="container">
                    <input type="checkbox" class="material-icons item-categories__checkbox" [(ngModel)]="isSchedule"
                      value="行程" (change)="schedule($event)">行程
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
            <hr>
            <div class="add__calendar">
              <i class="material-icons">
                event_available
              </i>
              <h2>發布單位</h2>
              <select class="add__calendar__list form-control" [(ngModel)]="selectMainCalendar"
                (change)="changeSelectCalendar(selectMainCalendar)">
                <option *ngFor="let calendar of calendars">{{calendar.name}}</option>
              </select>
              <div class="other" (click)="inviteCalendar()">添加至其他</div>
            </div>
            <hr>
            <div class="add__time">
              <i class="material-icons">
                access_time
              </i>
              <h2>開始</h2>
              <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                [(ngModel)]="startDate" required>
              <ngb-timepicker [(ngModel)]="startTime" [seconds]="seconds" [spinners]="spinners" [meridian]="meridian"
                class="timepicker" #addStartTime required></ngb-timepicker>
            </div>
            <div class="add__time">
              <i class="material-icons">
                access_time
              </i>
              <h2>結束</h2>
              <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
                [(ngModel)]="endDate" required>
              <ngb-timepicker [(ngModel)]="endTime" [seconds]="seconds" [spinners]="spinners" [meridian]="meridian"
                class="timepicker" #addEndTime required></ngb-timepicker>
            </div>
            <hr>
            <div class="add__location">
              <i class="material-icons">
                place
              </i>
              <h2>地點</h2>
              <input type="text" class="location form-control" [(ngModel)]="location">
            </div>
            <hr>
            <div class="add__participant">
              <i class="material-icons">
                people
              </i>
              <h2>參與人員</h2>
              <form [formGroup]="sendEmailForm" (ngSubmit)="send(sendEmailForm.value)" class="email">
                <div>
                  <input type="email" class="form-control" placeholder="輸入邀請對象Email" formControlName="toAddress">
                </div>
                <input type="submit" class="addUserBtn" [disabled]="!sendEmailForm.valid" value="邀請">
              </form>
              <div class="add__common-user" (click)="commonUser()">
                <h3>常用</h3>
              </div>
            </div>
            <div class="all_participants" placeholder="參與對象">
              <ul>
                <li *ngFor="let name of userEmail;let index = index">
                  <i class="clear material-icons" (click)="removeAddUser(index)">
                    clear
                  </i>
                  <h3>{{name.email}}</h3>
                  <span>
                    <i class="noresponse material-icons" *ngIf="name.response === 'no_reply'">
                      info
                    </i>
                    <i class="attend material-icons" *ngIf="name.response === 'accept'">
                      done_all
                    </i>
                    <i class="deny material-icons" *ngIf="name.response === 'decline'">
                      highlight_off
                    </i>
                  </span>
                </li>
              </ul>
            </div>
            <div class="all_common-user">
              <input type="button" class="form-control" value="推薦時間" (click)="adviseTime()">
            </div>
            <hr>
            <div class="add__description">
              <i class="material-icons">
                subject
              </i>
              <h2>事由</h2>
              <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="description"
                placeholder="新增說明"></textarea>
            </div>
            <hr>
            <div class="add__file">
              <i class="material-icons">
                attach_file
              </i>
              <h2>附件</h2>
              <div class="custom-file">
                <input id="customFileInput" type="file" (change)="fileSelected($event)" multiple="multiple">
                <label for="customFileInput" class="button-primary">
                  <span>選擇檔案</span>
                </label>
              </div>
            </div>
            <div class="add__all__files">
              <ul class="file">
                <li *ngFor="let name of fileName; let index = index">
                  <i class="material-icons" (click)="removeSelectedFile(index)">
                    clear
                  </i>
                  <h4>{{name}}</h4>
                </li>
              </ul>
            </div>
            <div class="subBtn">
              <div class="cancel" routerLink="/calendar">
                <i class="material-icons">
                  clear
                </i>
                <span>取消</span>
              </div>
              <div class="submit" (click)="update()">
                <i class="material-icons">
                  done_all
                </i>
                <span>確定</span>
              </div>
            </div>
          </div>
        </section>
      </article>
      <!-- Creates the bootstrap modal where the image will appear -->
      <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="event_dialog">
          <div class="event_body">
            <div class="event_border">
              <i class="cancel material-icons" (click)="hide()">
                cancel
              </i>
              <div class="event_content">
                <div class="event_block">
                  <span class="title">選擇常用參與人員</span>
                  <ul class="allCommonUserForm">
                    <li *ngFor="let commonUser of allCommonUser">
                      <label class="container">
                        <input type="checkbox" class="material-icons" [(ngModel)]="commonUser.isChecked"
                          (change)="changeSelectCommon(commonUser.title)">{{commonUser.title}}
                        <span class="checkmark"></span>
                      </label>
                    </li>
                  </ul>
                </div>
                <div class="event_participants">
                  <div class="all">
                    <label class="container">
                      <input type="checkbox" class="material-icons" (change)="CheckUncheckAll()"
                        [(ngModel)]="MasterSelected">全選
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="allEmails">
                    <ul>
                      <li *ngFor="let email of commonUserEmail">
                        <label class="container">
                          <input type="checkbox" class="material-icons" [(ngModel)]="email.isChecked"
                            (change)="changeSelectEmail()">{{email.emails}}
                          <span class="checkmark"></span>
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="btn">
                    <div class="cancel" (click)="hide()">取消</div>
                    <div class="import" (click)="importEmail()">匯入</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Creates the bootstrap modal where the image will appear -->
      <div [style.display]="showCalendar ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="calendar_dialog">
          <div class="calendar_body">
            <div class="calendar_border">
              <i class="cancel material-icons" (click)="hideCalendar()">
                cancel
              </i>
              <div class="calendar_container">
                <div class="calendar_title">
                  <div class="calendar_checkbox">
                    <label class="container">
                      <input type="checkbox" class="material-icons" (click)="checkAllAddCalendar($event)"
                        [(ngModel)]="addCalendarChecked">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="calendar_name">行事曆名稱</div>
                  <div class="calendar_status">狀態</div>
                </div>
                <div class="calendar_content" *ngFor="let calendar of showAddCalendars">
                  <div class="calendar_checkbox">
                    <label class="container">
                      <input type="checkbox" class="material-icons" [(ngModel)]="calendar.isChecked"
                        (change)="changeAddCalendar()">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                  <div class="calendar_name">{{calendar.name}}</div>
                  <div class="calendar_status"></div>
                  <div class="calendar_status" *ngIf="calendar.response === 'no_reply'">
                    <i class="no_response material-icons">
                      info
                    </i>
                  </div>
                  <div class="calendar_status" *ngIf="calendar.response === 'decline'">
                    <i class="decline material-icons">
                      highlight_off
                    </i>
                  </div>
                  <div class="calendar_status" *ngIf="calendar.response === 'accept'">
                    <i class="accept material-icons">
                      done_all
                    </i>
                  </div>
                </div>
              </div>
              <div class="btn">
                <div class="cancel" (click)="hideCalendar()">取消</div>
                <div class="import" (click)="hideCalendar()">確定</div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </main>
  </div>
</div>
