<div class="wrap">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="bar row">
      <div class="form-group col-sm-4">
        <div class="input-group">
          <div class="custom-file">
            <input type="file" (change)="onFileChange($event)" multiple="false" />
          </div>
        </div>
      </div>
      <label for="static" class="top col-form-label">學年度</label>
      <div class="col-sm-2">
        <input type="text" class="form-control">
      </div>
      <label for="static" class="top col-form-label">學制</label>
      <div class="col-sm-2">
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="container">
      <div class="table">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">日期</th>
              <th scope="col">行程名稱</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of data">
              <td *ngFor="let val of row">
                {{val}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked="" autocomplete="off" [routerLink]="['/calendar']"> 取消
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" autocomplete="off" (click)="add()"> 建立
        </label>
      </div>
    </div>
  </div>
</div>
