<app-navbar></app-navbar>
<main>
  <aside class="aside">
    <ul class="item-categories">
      <li>
        <div class="item-categories__title active">
          <div class="name">
            <i class="material-icons">
              content_paste
            </i>
            <span>選擇匯出資料</span>
          </div>
          <div class="form-group row">
            <i class="material-icons item-categories__arrow" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
              arrow_left
            </i>
          </div>
        </div>
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
          <ul class="item-categories__list">
            <div class="form-group">
              <li>
                <span class="title">設立別</span>
                <span class="value">公立</span>
              </li>
              <li>
                <span class="title">學校類別</span>
                <span class="value">技專院校</span>
              </li>
              <li>
                <span class="title">學校代碼</span>
                <span class="value">0051</span>
              </li>
              <li>
                <span class="title">學校名稱</span>
                <span class="value">國立台北商業大學</span>
              </li>
              <li>
                <span class="title">學年度</span>
                <span class="select">
                  <select class="form-control" [(ngModel)]="setYear" (change)="change()">
                    <option *ngFor="let year of year">{{year}}</option>
                  </select>
                </span>
              </li>
              <li>
                <span class="title">學期</span>
                <span class="select">
                  <select class="form-control" [(ngModel)]="setTerm" (change)="change()">
                    <option>1</option>
                    <option>2</option>
                  </select>
                </span>
              </li>
            </div>
          </ul>
        </div>
      </li>
    </ul>
  </aside>
  <article>
    <section class="container">
      <ul class="event-list">
        <div class="table" #table>
          <table class="table table-hover">
            <thead class="event-list__header">
              <tr>
                <th scope="col" *ngFor="let name of header">{{name}}</th>
              </tr>
            </thead>
            <tbody class="event-list_phase">
              <tr *ngFor="let row of showDatas">
                <td *ngFor="let val of row">
                  {{val}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </ul>
      <div class="download" (click)="download()">下載</div>
    </section>
  </article>
  <!-- Creates the bootstrap modal where the image will appear -->
  <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal_dialog">
      <div class="modal_header">
        <i class="material-icons" (click)="hideExcel()">
          cancel
        </i>
      </div>
      <div class="modal_body">
        <span>下載格式：</span>
        <div class="item" (click)="daochu($event)">
          <h4>csv</h4>
        </div>
        <div class="item" (click)="daochu($event)">
          <h4>xlsx</h4>
        </div>
        <div class="item" (click)="daochu($event)">
          <h4>xls</h4>
        </div>
      </div>
    </div>
  </div>
</main>
