<div class="wrap">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="title">
      <button type="button" class="btn btn-outline-secondary" [routerLink]="['/add-schedule']">編輯行程</button>
    </div>
    <div class="jumbotron">
      <div class="form-group row">
        <label for="static" class="top col-form-label">選擇行事曆</label>
        <div class="col-sm-8">
          <div class="pretty p-default p-curve p-thick">
            <input type="checkbox" checked/>
            <div class="state">
              <label class="add">學校行事曆</label>
            </div>
          </div>
          <div class="pretty p-default p-curve p-thick">
            <input type="checkbox" checked />
            <div class="state">
              <label class="add">教務處</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="static" class="top col-form-label">新增標題：</label>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="title" class="form-control" (keyup)="0">
        </div>
      </div>
      <div class="form-group row">
        <label for="static" class="top col-form-label">開始時間：</label>
        <div class="col-md-4">
          <input type="text" [(ngModel)]="addStartDate" class="date form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
        </div>
        <img src="../assets/images/calendar_today-black-18dp.svg" class="calendar">

        <ngb-timepicker [(ngModel)]="startTime" [seconds]="seconds" [spinners]="spinners" [meridian]="meridian" class="timepicker" #addStartTime></ngb-timepicker>
      </div>
      <div class="form-group row">
        <label for="static" class="top col-form-label">結束時間：</label>
        <div class="col-md-4">
          <input type="text" class="date form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" [(ngModel)]="addEndDate">
        </div>
        <img src="../assets/images/calendar_today-black-18dp.svg" class="calendar">

        <ngb-timepicker [(ngModel)]="endTime" [seconds]="seconds" [spinners]="spinners" [meridian]="meridian" class="timepicker" #addEndTime></ngb-timepicker>

      </div>
      <div class="form-group row">
        <button type="button" class="down btn btn-primary disabled" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">進階
        </button>
      </div>
      <hr>
      <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
        <div class="form-group row">
          <label for="static" class="top col-form-label">地點：</label>
          <div class="two col-sm-8">
            <input type="text" class="location-form form-control" [(ngModel)]="location">
          </div>
          <img src="../assets/images/edit_location-black-18dp.svg" class="location">
        </div>
        <div class="form-group row">
          <label for="static" class="top col-form-label">參與人員：</label>
          <div class="col-sm-8">
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="form-group">
          <label for="exampleTextarea" class="top">備註：</label>
          <textarea class="form-control" id="exampleTextarea" rows="3" [(ngModel)]="description"></textarea>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02" name="profile" (change)="fileSelected($event)" multiple="multiple">
              <label class="custom-file-label" for="inputGroupFile02">選擇檔案</label>
            </div>
          </div>
        </div>
        <ul class="file">
          <li *ngFor="let name of fileName">
            {{name}}
          </li>
        </ul>
      </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked="" autocomplete="off" [routerLink]="['/calendar']"> 取消
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" autocomplete="off" (click)="update()"> 更新
        </label>
      </div>
    </div>
  </div>
</div>
