@media screen {

  .wrap {
    width    : 100%;
    height   : 100%;
    position : relative;
    min-width: 320px;
    margin-top: 80px;
  }

  .two {
    margin-left: 30px;
  }

  .title {
    text-align: center;
    margin-top: 20px;
  }

  .title button {
    position        : relative;
    font-weight     : 1000;
    z-index         : 2;
    background-color: white;
    color           : black;
    letter-spacing:  2px;
  }

  .date {
    position: relative;
    z-index : 10;
  }

  .timepicker {
    margin-left: 30px;
  }

  .col-md-4 {
    position: relative;
    z-index: 10;
  }

  img.calendar {
    position: relative;
    margin-left: -40px;
    z-index: 20;
  }

  .location-form {
    position: relative;
    z-index: 10;
  }

  img.location {
    margin-left: -45px;
    position: relative;
    z-index: 20;
  }

  .btn-group {
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: -20px;
  }

  textarea.form-control {
    width: 90%;
  }

  .deleteBtn {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  .jumbotron {
    position: absolute;
    width   : 50%;
    margin  : -20px 25% 20px 25%;
    z-index : 1;
    height  : fit-content;
    background-color: white;
    box-shadow  : 0px 15px 22px 0px rgba(0, 0, 0, 0.75);
  }

  .input-group {
    width: 90%;
  }

  .form-group {
    margin-left: 10%;
  }

  button.down {
    font-size: small;
  }

  .pretty {
    margin-top: 10px;
  }

  h2 {
    margin-left: 10%;
  }

  .file {
    margin-left: 10%;
  }

  .users {
    margin-left: 20%;
  }

  .users li {
    display: flex;
  }

  .file li {
    display: flex;
  }

  .calendar li {
    display: flex;
  }

  form.email {
    display: flex;
    justify-content: space-between;
  }

  .addUserBtn {
    border-radius   : 3px;
    background-color: white;
    border          : #ccc solid 1px;
  }

  img.head {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width:480px) {
  .date {
    width: 100%;
    margin-bottom: 10px;
  }

  img.calendar {
    margin-left: -60px;
    margin-bottom: 10px;
  }

  .title {
    margin-top: 30px;
  }

  .time1 {
    width: 45%;
  }

  .jumbotron {
    width : 90%;
    margin: -20px 5% 20px 5%;
  }

  .form-group {
    margin-left : 0px;
    margin-right: 5px;
  }

  .input-group {
    width: 100%;
  }

  label.top {
    margin-left: 35%;
  }

  .two {
    margin-left: 0px;
  }

  .time {
    margin-left: 5%;
    width: 45%;
  }

  button.down {
    margin-left: 40%;
  }

  .btn-group {
    margin-left: 30%;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  textarea.form-control {
    width: 100%;
  }
}
