$color_accent      : #439B91;
$color_white       : #FFFFFF;
$color_border      :#EBEBEB;
$color_icon        :#BCBCCB;
$color_text        :#4d4f5c;
$color_text-light  :#A3A6B4;
$color_primary     :#FCFCFC;
$color_table-header:#F5F6FA;
$color_table-phase :#F0F0F0;
$color_form_control:#D0D6DC;
$color_second      : #516FA6;
