<app-navbar></app-navbar>
<main>
  <article>
    <section class="container">
      <div class="url form-group">
        <label for="static" class="title col-form-label">URL：</label>
        <div class="box">
          <input type="text" class="form-control" #URL [(ngModel)]="userURL" disabled>
        </div>
        <div class="copy" (click)="copyInputMessage(URL)">
          <i class="material-icons copyPic">
            file_copy
          </i>
          <span>複製</span>
        </div>
        <div class="renew" (click)="renewURL()">
          <i class="material-icons">
            autorenew
          </i>
          <span>更新</span>
        </div>
      </div>
    </section>
  </article>
</main>
