@import '../../styles.scss';

@media screen {
  .body-content {
    .left {
      .sideMenu {
        width           : 270px;
        transform       : translateX(-270px);
        position        : absolute;
        top             : 0;
        background-color: $color_table-header;
        bottom          : 0;
      }

      #sideMenu-active, .open, .close {
        display: none;
      }
    }

    .right {
      width: 100%;

      article {
        padding-top : $height_header;
        padding-left: $width_aside;

        section.container {
          width           : 96%;
          margin          : $content-size_left-right;
          margin-top      : $content-size_top-bottom*4;
          padding         : $content-size_left-right;
          background-color: $color_white;
          box-shadow      : $box-shadow--container;

          .content {
            padding: $content-size_top-bottom $content-size_left-right;

            .URL {
              display       : flex;
              padding       : $content-size_top-bottom $content-size_left-right;
              align-items   : center;
              letter-spacing: 1px;

              input {
                width      : 500px;
                margin-left: $content-size_left-right;
              }
            }

            .functionBtn {
              display    : flex;
              align-items: center;

              i {
                color      : $color_text;
                margin-left: $content-size_left-right;
              }

              .copy:hover,
              .renew:hover {
                color: $color_accent;

                i {
                  color: $color_accent;
                }
              }

              .copy {
                margin-left: auto;
              }

              .copy,
              .renew {
                cursor     : pointer;
                display    : flex;
                align-items: center;
              }

              span {
                margin-left: $content-size_left-right/2;
              }
            }
          }

          .subEvent {
            width: 100%;

            ul {

              li {
                display: inline-grid;
                width  : 50%;

                .event {
                  display: flex;
                  align-items: center;
                  padding: $content-size_top-bottom/2 $content-size_left-right/2;

                  .status {
                    width        : 10px;
                    height       : 10px;
                    border-radius: 50%;
                  }

                  span {
                    margin-left: $content-size_left-right/2;
                    letter-spacing: 1px;
                  }
                }
              }
            }
          }

          .header {
            display       : flex;
            align-items   : center;
            letter-spacing: 1px;

            h2 {
              width    : 200px;
              font-size: 20px;
            }

            input.searchbox {
              width      : 250px;
              margin-left: auto;
            }

            input.searchbox:hover,
            input.searchbox:focus {
              border-color: $color_accent;
            }

            i {
              position: relative;
              left    : -30px;
            }
          }

          .subBtn {
            margin-top: $content-size_top-bottom;
            display   : flex;

            .cancel {
              display         : flex;
              align-items     : center;
              justify-content : center;
              color           : white;
              border-radius   : 5px;
              padding         : $content-size_top-bottom/2 $content-size_left-right/2;
              cursor          : pointer;
              background-color: $color_accent;
              margin-left     : auto;
              margin-right    : $content-size_left-right*1.5;

              span {
                margin-left: $content-size_left-right/2;
              }

              i {
                color: white;
              }
            }
          }
        }


      }

      .aside {
        position        : fixed;
        z-index         : $z-index_second;
        overflow        : auto;
        box-sizing      : border-box;
        margin-top      : $height_header;
        padding         : $content-size_top-bottom $content-size_left-right;
        width           : $width_aside;
        height          : calc(100vh - #{$height_header});
        background-color: $color_white;
        box-shadow      : $box-shadow--left;


        .item-categories {

          i {
            color : $color_icon;
            cursor: pointer;
          }


          &__title {
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            padding        : $content-size_left-right/1.5 0;
            border-bottom  : $color_border solid 1px;
            font-size      : 1.2rem;

            &:hover,
            &.active {
              .item-categories__arrow {
                transform: rotate(-90deg);
              }
            }
          }

          &__arrow {
            transition: $transition_short;
          }

          &__list {
            display  : flex;
            flex-flow: column;
            margin-top: $content-size_top-bottom;
            padding  : $content-size_top-bottom/2 0;

            li {
              display    : inline-flex;
              align-items: center;
              padding    : $content-size_top-bottom/2 0;
              cursor     : pointer;
            }
          }

          &__checkbox {
            margin-right: $content-size_left-right/2;
          }

          &__status {
            width        : 10px;
            height       : 10px;
            border-radius: 50%;
          }

        }

      }
    }
  }
}


@media screen and (max-width:480px) {
  .body-content {
    display: flex;
    height : 100vh;

    .left {
      .sideMenu {
        width         : 270px;
        display       : flex;
        flex-direction: column;
        padding       : 50px 0;
        position      : fixed;
        transform     : translateX(-100%);
        transition    : 0.4s;
        z-index       : 1000;

        label.close {
          display    : block;
          width      : 20px;
          height     : 40px;
          position   : fixed;
          right      : 10%;
          top        : 3%;
          line-height: 40px;
          text-align : center;

          i {
            cursor     : pointer;
            color      : $color_text;
            font-weight: 600;
          }
        }

        &__content {
          padding: $content-size_top-bottom $content-size_left-right;

          .item-categories {

            i {
              color : $color_icon;
              cursor: pointer;
            }


            &__title {
              display        : flex;
              align-items    : center;
              justify-content: space-between;
              padding        : $content-size_left-right/1.5 0;
              border-bottom  : $color_border solid 1px;
              font-size      : 1.2rem;

              &:hover,
              &.active {
                .item-categories__arrow {
                  transform: rotate(-90deg);
                }
              }
            }

            &__arrow {
              transition: $transition_short;
            }

            &__list {
              display  : flex;
              flex-flow: column;
              margin-top: $content-size_top-bottom;
              padding  : $content-size_top-bottom/2 0;

              li {
                display    : inline-flex;
                align-items: center;
                padding    : $content-size_top-bottom/2 0;
                cursor     : pointer;
              }
            }

            &__checkbox {
              margin-right: $content-size_left-right/2;
            }

            &__status {
              width        : 10px;
              height       : 10px;
              border-radius: 50%;
            }

          }
        }

      }

      #sideMenu-active:checked+.sideMenu {
        transform: translateX(0);
      }

      label.open {
        display    : block;
        width      : 20px;
        height     : 40px;
        position   : fixed;
        left       : 10%;
        top        : 3%;
        line-height: 40px;
        text-align : center;
        z-index    : 999;

        i {
          color : $color_accent;
          cursor: pointer;
        }
      }
    }

    .right {

      .aside {
        display: none;
      }

      article {
        padding: $height_header $content-size_left-right;

        section.container {
          width     : 100%;
          margin    : 0;
          margin-top: $content-size_top-bottom*3;
          padding   : $content-size_top-bottom*2 $content-size_top-bottom;

          .content {
            padding: $content-size_top-bottom/2 $content-size_left-right/4;

            .URL {
              padding: 0 $content-size_left-right/4;

              h1 {
                font-size: 13px;
              }

              input {
                font-size: 13px;
                width: 150px;
                margin-left: 0;
              }

              .functionBtn {
                i {
                  font-size: 17px;
                }

                span {
                  display: none;
                }
              }
            }
          }

          .header {
            width: 100%;

            h2 {
              font-size: 15px;
              font-weight: 550;
            }

            input {
              width: 170px;
              font-size: 13px;
            }
          }

          .subEvent {

            ul {
              li {
                width: 100%;
              }
            }
          }

          .subBtn {
            .cancel {
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}
