<div class="wrap">
  <app-official-header></app-official-header>
  <div class="content">
    <div>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link year" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
            aria-expanded="false">108</a>
          <div class="dropdown-menu">
            <a class="dropdown-item">107</a>
            <a class="dropdown-item">106</a>
            <a class="dropdown-item">105</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">學年度</a>
        </li>
      </ul>
    </div>
    <div id="calendar" class="calendar"></div>
  </div>
</div>
