<app-navbar></app-navbar>
<main>
  <aside class="aside">
    <ul class="item-categories">
      <li>
        <div class="item-categories__title active">
          <div class="name">
            <i class="material-icons">
              picture_as_pdf
            </i>
            <span>選擇匯出項目</span>
          </div>
          <div class="form-group row">
            <i class="material-icons item-categories__arrow" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
              arrow_left
            </i>
          </div>
        </div>
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
          <div>
          </div>
          <h2>匯出行事曆</h2>
          <!-- 放跟登入後首頁一樣的(公開的、有訂閱的、有編輯權限行事曆)-->
        </div>
      </li>
    </ul>
    <div class="download" (click)="savePdf()">
      下載
    </div>
  </aside>
  <article>
    <section #screen id="screen" class="container">
      <ul class="event-list">
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        <li class="event-list__header">
          <div class="event-list__title">發布標題</div>
          <div class="event-list__content">內容概要</div>
          <div class="event-list__date">開始日期</div>
        </li>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        123
        <br>
        456
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        45600098765897967689878798
        <br>
        <!--放和首頁一樣行事曆行程-->
      </ul>
    </section>
    <div id="nodownload">
      <img #canvas>
      <a #downloadLink></a>
    </div>
  </article>
</main>