@import '../../styles.scss';

@media screen {
  .body-content {
    .left {
      .sideMenu {
        width           : 270px;
        transform       : translateX(-270px);
        position        : absolute;
        top             : 0;
        background-color: $color_table-header;
        bottom          : 0;
      }

      #sideMenu-active,
      .close,
      .open {
        display: none;
      }
    }

    .right {
      width: 100%;

      .aside {
        position        : fixed;
        z-index         : $z-index_second;
        overflow        : auto;
        box-sizing      : border-box;
        margin-top      : $height_header;
        padding         : $content-size_top-bottom $content-size_left-right;
        width           : $width_aside;
        height          : calc(100vh - #{$height_header});
        background-color: $color_white;
        box-shadow      : $box-shadow--left;

        .item-categories {

          i {
            color : $color_icon;
            cursor: pointer;
          }


          &__title {
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            padding        : $content-size_left-right/1.5 0;
            border-bottom  : $color_border solid 1px;
            font-size      : 1.2rem;

            &:hover,
            &.active {
              .item-categories__arrow {
                transform: rotate(-90deg);
              }
            }

            .name {
              display    : flex;
              align-items: center;

              span {
                margin-left: $content-size_left-right/2;
              }
            }
          }

          &__arrow {
            transition: $transition_short;
          }

          &__list {
            display  : flex;
            flex-flow: column;
            padding  : $content-size_left-right/2 0;

            li {
              display    : inline-flex;
              align-items: center;
              padding    : 0;
              margin-top : $content-size_top-bottom/2;
              cursor     : pointer;
            }
          }

          h3 {
            width         : 37%;
            margin-left   : auto;
            font-size     : 13px;
            font-weight   : 600;
            color         : $color_text;
            letter-spacing: 1px;
            cursor        : pointer;
          }

          h3:hover {
            color        : $color_accent;
            border-bottom: $color_accent 1px solid;
          }


        }

        .year {
          display    : flex;
          align-items: center;
          margin-top : $content-size_top-bottom*2;

          select {
            margin-left: $content-size_left-right/2;
          }

          span {
            width: 80px;
          }
        }
      }

      article {
        padding-top : $height_header;
        padding-left: $width_aside;

        section.container {
          width           : 96%;
          margin          : $content-size_left-right;
          margin-top      : $content-size_top-bottom*4;
          padding         : $content-size_left-right;
          background-color: $color_white;
          box-shadow      : $box-shadow--container;

          .header {
            display: none;
          }

          .event-list {

            &__header {
              color         : $color_text;
              font-size     : 1rem;
              font-weight   : 600;
              letter-spacing: 1px;
              padding       : $content-size_top-bottom $content-size_left-right/2;
              text-align: center;
            }

            li {
              display    : flex;
              align-items: center;
              flex-flow  : row nowrap;
              line-height: 1;
              max-width:355.88px;
              border-left: 1.5px solid $color_text;

              &:not(.event-list__header):not(.event-list__phase) {
                min-height   : 5rem;
                border-bottom: $color_border solid 1px;
              }

              >div {
                padding: $content-size_top-bottom $content-size_left-right;
              }

              h1 {
                width     : 100%;
                text-align: center;
              }
            }

            &__month {
              font-size: 16px;
              height: max-content;
              display : inline-block;
              text-align : left;
              padding: $content-size_top-bottom*2 $content-size_left-right;
            }

            &__content {
              display: inline-block;
              text-align: left;
              background-color: gold;
            }

            &__title {
              display  : inline-block;
              font-size: 13px;
              padding: $content-size_top-bottom/2 $content-size_left-right/4;

              span {
                font-size  : 14px;
                margin-left: $content-size_left-right/4;
              }

              span.date {
                margin-left: $content-size_left-right/2;
              }
            }


            &__calendarName_all{
              display: grid;
              grid-template-columns: 80px 1fr 1fr;
              text-align: center;
              border: 1px solid $color_text;
              // border-right-style: 1.5px solid $color_text;
              // border-left-style: 1.5px solid $color_text;
              background-color: greenyellow;
              
              .calendarName_empty{
                display: inline-block;
                text-align   : center;
                font-size    : 12px;
                font-weight: 600; 
                border-bottom: 1.5px solid $color_text;
              }

              .calendarName {
                display: inline-block;
                text-align   : center;
                font-size    : 12px;
                font-weight: 600; 
                border-bottom: 1.5px solid $color_text;
                border-left: 1.5px solid $color_text;
              }

              .calendarName_nd {
                display:inline-block ;
                  text-align   : center;
                  font-size    : 12px;
                  font-weight: 600; 
                  border-bottom: 1.5px solid $color_text; 
                  border-left: 1.5px solid $color_text;               
              }
            }


            &__phase {
              display: grid !important;
              grid-template-columns: 80px 1fr 1fr;
              text-align: left;
              border: 1px solid $color_text;
              border-right-style: 1.5px solid $color_text;
              border-left-style: 1.5px solid $color_text;

              // .calendarName {
              //   text-align   : center;
              //   font-size    : 12px;
              //   font-weight: 600; 
              //   border-bottom: 1.5px solid $color_text;
              // }

              // .calendarName_nd {
              //   text-align   : center;
              //   font-size    : 12px;
              //   font-weight: 600; 
              //   border-bottom: 1.5px solid $color_text;
              // }

            }
          }

          .subBtn {
            display         : flex;
            align-items     : center;
            width           : 10%;
            background-color: $color_accent;
            border-radius   : 5px;
            padding         : $content-size_top-bottom/2 $content-size_left-right/2;
            justify-content : center;
            color           : white;
            letter-spacing  : 1px;
            margin-top      : $content-size_top-bottom*3;
            margin-left     : auto;
            cursor          : pointer;

            i {
              color: white;
            }

            span {
              margin-left: $content-size_left-right/2;
            }
          }
        }

        #nodownload {
          display: none;
        }

      }
    }
  }

}

@media screen and (max-width:480px) {
  .body-content {
    display: flex;
    height : 100vh;

    .left {
      .sideMenu {
        width         : 270px;
        display       : flex;
        flex-direction: column;
        padding       : 50px 0;
        position      : fixed;
        transform     : translateX(-100%);
        transition    : 0.4s;
        z-index       : 1000;

        label.close {
          display    : block;
          width      : 20px;
          height     : 40px;
          position   : fixed;
          right      : 10%;
          top        : 3%;
          line-height: 40px;
          text-align : center;

          i {
            cursor     : pointer;
            color      : $color_text;
            font-weight: 600;
          }
        }

        &__content {
          overflow: auto;
          padding : $content-size_top-bottom $content-size_left-right;

          &__list {
            display  : flex;
            flex-flow: column;
            padding  : $content-size_left-right/2 0;

            li {
              display    : inline-flex;
              align-items: center;
              padding    : $content-size_left-right/2 0;
              cursor     : pointer;
            }
          }

          &__item {
            flex       : auto;
            margin-left: $content-size_left-right/2;
          }

          &__status {
            width        : 10px;
            height       : 10px;
            border-radius: 50%;
          }

          &__title {
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            padding        : $content-size_left-right/1.5 0;
            border-bottom  : $color_border solid 1px;
            font-size      : 1.2rem;
            margin-top     : $content-size_top-bottom;

            &:hover,
            &.active {
              .sideMenu__content__arrow {
                transform: rotate(-90deg);
              }
            }

            .title {
              display    : flex;
              align-items: center;

              h1 {
                margin-left: $content-size_left-right/2;
              }
            }
          }

          &__arrow {
            transition: $transition_short;
          }

          &__subscribe,
          &__userTeach {
            display         : flex;
            align-items     : center;
            width           : 100%;
            justify-content : center;
            padding         : $content-size_top-bottom $content-size_left-right;
            background-color: $color_accent;
            border-radius   : 5px;
            color           : white;
            letter-spacing  : 1px;

            i {
              color: white;
            }

            span {
              margin-left: $content-size_left-right/2;
            }
          }

          &__userTeach {
            margin-top: $content-size_top-bottom/2;
          }

          &__add {
            display         : flex;
            align-items     : center;
            width           : 48%;
            justify-content : center;
            padding         : $content-size_top-bottom $content-size_left-right;
            background-color: $color_accent;
            border-radius   : 5px;
            color           : white;
            letter-spacing  : 1px;
          }

          &__add:nth-child(2) {
            margin-left: 4%;
          }
        }
      }

      #sideMenu-active:checked+.sideMenu {
        transform: translateX(0);
      }

      label.open {
        display    : block;
        width      : 20px;
        height     : 40px;
        position   : fixed;
        left       : 10%;
        top        : 3%;
        line-height: 40px;
        text-align : center;
        z-index    : 999;

        i {
          color : $color_accent;
          cursor: pointer;
        }
      }
    }

    .right {

      .aside {
        display: none;
      }

      article {
        padding: $height_header $content-size_left-right;

        section.container {
          width     : 100%;
          margin    : 0;
          margin-top: $content-size_top-bottom*3;
          padding   : $content-size_top-bottom*2 $content-size_top-bottom;

          .header {
            font-size: 14px;
            display  : block;
            height   : 200px;
            border   : 1px solid $color_border;
            padding  : $content-size_top-bottom $content-size_left-right;

            .item-categories {

              i {
                color : $color_icon;
                cursor: pointer;
              }

              &__title {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                padding        : $content-size_left-right/1.5 0;
                border-bottom  : $color_border solid 1px;
                font-size      : 1.2rem;

                &:hover,
                &.active {
                  .item-categories__arrow {
                    transform: rotate(-90deg);
                  }
                }

                .name {
                  display    : flex;
                  align-items: center;

                  span {
                    margin-left: $content-size_left-right/2;
                  }
                }
              }

              &__arrow {
                transition: $transition_short;
              }

              &__list {
                display  : flex;
                flex-flow: column;
                height   : 100px;
                overflow : auto;

                li {
                  display    : inline-flex;
                  align-items: center;
                  cursor     : pointer;
                  margin-top : $content-size_top-bottom/2;
                }
              }

              h3 {
                width         : 37%;
                margin-left   : auto;
                font-size     : 13px;
                font-weight   : 600;
                color         : $color_text;
                letter-spacing: 1px;
                cursor        : pointer;
              }

              h3:hover {
                color        : $color_accent;
                border-bottom: $color_accent 1px solid;
              }


            }

            .year {
              display    : flex;
              align-items: center;

              select {
                margin-left: $content-size_left-right/2;
              }

              span {
                width: 80px;
              }
            }
          }

          .event-list {
            margin-top: $content-size_top-bottom;

            &__header {
              font-size: 11px;
              padding  : $content-size_top-bottom/2;
            }

            &__phase {
              font-size: 11px;
            }

            &__title,
            &__content,
            &__date {
              padding: $content-size_top-bottom/2 $content-size_left-right/4;
            }

            &__title {
              flex: 1.5;
            }

            &__content {
              flex: 2;
            }

            &__date {
              flex: 1;
            }
          }

          .subBtn {
            width: 90px;
          }
        }
      }
    }
  }
}
