<div class="body-content">
  <div class="left">
    <input type="checkbox" name="" id="sideMenu-active">
    <div class="sideMenu">
      <label for="sideMenu-active" class="close">
        <i class="material-icons">east</i>
      </label>
      <div class="sideMenu__content">
        <div class="sideMenu__content__subscribe" routerLink="/add-subscribe">
          <i class="material-icons">
            bookmarks
          </i>
          <span>新增訂閱</span>
        </div>
        <div class="sideMenu__content__userTeach" routerLink="/user-teach">
          <i class="material-icons">
            help_outline
          </i>
          <span>使用說明</span>
        </div>
        <ul>
          <li>
            <div class="sideMenu__content__title active">
              <div class="title">
                <i class="material-icons">
                  library_add
                </i>
                <h1>行程管理</h1>
              </div>
              <div class="form-group row">
                <i class="material-icons sideMenu__content__arrow" (click)="isOpen = !isOpen"
                  [attr.aria-expanded]="!isOpen" aria-controls="collapseBasic">
                  arrow_left
                </i>
              </div>
            </div>
            <div id="collapseBasic" [collapse]="isOpen" [isAnimated]="true">
              <ul class="sideMenu__content__list">
                <li>
                  <div class="sideMenu__content__add" routerLink="/add-schedule">
                    <span>新增行程</span>
                  </div>
                  <div class="sideMenu__content__add" routerLink="/meeting">
                    <span>查看會議</span>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
        <ul>
          <li>
            <div class="sideMenu__content__title active">
              <div class="title">
                <i class="material-icons">
                  open_in_new
                </i>
                <h1>匯出入管理</h1>
              </div>
              <div class="form-group row">
                <i class="material-icons sideMenu__content__arrow" (click)="isTrue = !isTrue"
                  [attr.aria-expanded]="!isTrue" aria-controls="collapseBasic">
                  arrow_left
                </i>
              </div>
            </div>
            <div id="collapseBasic" [collapse]="isTrue" [isAnimated]="true">
              <ul class="sideMenu__content__list">
                <li *ngIf="staff === 'true'">
                  <div class="sideMenu__content__add" routerLink="/official-add">
                    <span>匯出修改</span>
                  </div>
                  <div class="sideMenu__content__add" routerLink="/official-change">
                    <span>匯入建立</span>
                  </div>
                </li>
                <li>
                  <div class="sideMenu__content__add" routerLink="/opendata">
                    <span>OpenData</span>
                  </div>
                  <div class="sideMenu__content__add" routerLink="/export" *ngIf="staff === 'true'">
                    <span>匯出PDF</span>
                  </div>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <label for="sideMenu-active" class="open">
      <i class="material-icons">menu</i>
    </label>
  </div>
  <div class="right">
    <app-navbar></app-navbar>
    <main #main>
      <aside class="aside">
        <ul class="item-categories">
          <li>
            <div class="item-categories__title active">
              <div class="name">
                <i class="material-icons">
                  picture_as_pdf
                </i>
                <span>選擇匯出項目</span>
              </div>
              <div class="form-group row">
                <i class="material-icons item-categories__arrow" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
                  arrow_left
                </i>
              </div>
            </div>
            <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
              <div class="year">
                <span>學年度</span>
                <select class="form-control" [(ngModel)]="setYear" (change)="changeYear()">
                  <option *ngFor="let year of year">{{year}}</option>
                </select>
              </div>
              <hr>
              <ul class="item-categories__list">
                <li *ngFor="let calendar of openCalendar">
                  <label class="container origin">
                    <input type="checkbox" class="material-icons" [(ngModel)]="calendar.isChecked"
                      (change)="changeSelect()">{{calendar.name}}
                    <span class="checkmark"></span>
                  </label>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </aside>
      <article>
        <section class="container">
          <div class="header">
            <div class="year">
              <span>學年度</span>
              <select class="form-control" [(ngModel)]="setYear" (change)="changeYear()">
                <option *ngFor="let year of year">{{year}}</option>
              </select>
            </div>
            <hr>
            <ul class="item-categories__list">
              <li *ngFor="let calendar of openCalendar">
                <label class="container origin">
                  <input type="checkbox" class="material-icons" [(ngModel)]="calendar.isChecked"
                    (change)="changeSelect()">{{calendar.name}}
                  <span class="checkmark"></span>
                </label>
              </li>
            </ul>
          </div>
          <ul class="event-list" #screen id="screen">
            <li class="event-list__header" *ngIf="showTitle === true">
              <h1>國立台北商業大學{{setYear}}學年度第1學期行事曆</h1>
            </li>
            <!-- <li *ngFor="let calendar of showEventOne" class="event-list__phase">
              <div class="calendarName">{{calendar.calendar}}</div>
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li> -->

            <li *ngFor="let calendar of eventMonth_1" class="event-list__phase">
              <div class="calendarName">{{calendar.calendar}}</div>
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_2" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_3" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_4" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_5" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_6" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_7" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>

            <li class="event-list__header" *ngIf="showTitle === true">
              <h1>國立台北商業大學{{setYear}}學年度第2學期行事曆</h1>
            </li>
            <!-- <li *ngFor="let calendar of showEventTwo" class="event-list__phase">
              <div class="calendarName">{{calendar.calendar}}</div>
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li> -->
            <li *ngFor="let calendar of eventMonth_8" class="event-list__phase">
              <div class="calendarName">{{calendar.calendar}}</div>
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_9" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_10" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_11" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>
            <li *ngFor="let calendar of eventMonth_12" class="event-list__phase">
              <div class="event-list__content">
                <div class="event-list__title" *ngFor="let event of calendar.events">
                  <span class="date">{{event.startMonth}} / {{event.startDay}}</span>
                  <span>{{event.title}}</span>
                </div>
              </div>
            </li>

          </ul>
          <div class="subBtn" (click)="savePdf(main)" *ngIf="showTitle === true">
            <i class="material-icons">
              download
            </i>
            <span>下載</span>
          </div>
        </section>
        <div id="nodownload">
          <img #canvas>
          <a #downloadLink></a>
        </div>
      </article>
    </main>
  </div>
</div>
