@import '../../styles.scss';

@media screen {
  article {
    padding-top : $height_header;
    padding-left: $width_aside;

    section.container {
      width           : 96%;
      margin          : $content-size_left-right;
      margin-top      : $content-size_top-bottom*4;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;
    }
  }

  .aside {
    position        : fixed;
    z-index         : $z-index_second;
    overflow        : auto;
    box-sizing      : border-box;
    margin-top      : $height_header;
    padding         : $content-size_top-bottom $content-size_left-right;
    width           : $width_aside;
    height          : calc(100vh - #{$height_header});
    background-color: $color_white;
    box-shadow      : $box-shadow--left;


    .item-categories {

      i {
        color : $color_icon;
        cursor: pointer;
      }


      &__title {
        display        : flex;
        align-items    : center;
        justify-content: space-between;
        padding        : $content-size_left-right/1.5 0;
        border-bottom  : $color_border solid 1px;
        font-size      : 1.2rem;

        &:hover,
        &.active {
          .item-categories__arrow {
            transform: rotate(-90deg);
          }
        }
      }

      &__arrow {
        transition: $transition_short;
      }

      &__list {
        display  : flex;
        flex-flow: column;
        padding  : $content-size_top-bottom/2 0;

        li {
          display    : inline-flex;
          align-items: center;
          padding    : $content-size_top-bottom/2 0;
          cursor     : pointer;

          span {
            border-radius: 30px;
          }
        }
      }
    }

  }
}

@media screen and (max-width:480px) {

}
