<app-navbar></app-navbar>
<main>
  <aside class="aside">
    <ul class="item-categories">
      <li>
        <div class="item-categories__title active">
          選擇匯出項目
          <div class="form-group row">
            <i class="material-icons item-categories__arrow" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">
              arrow_left
            </i>
          </div>
        </div>
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" class="info">
          <ul class="item-categories__list">
            <li *ngFor="let calendar of calendars" [(ngModel)]="calendar.isChecked">
              <label class="container origin">
                <input type="checkbox" class="material-icons" [(ngModel)]="calendar.isChecked">{{calendar.name}}
                <span class="checkmark"></span>
              </label>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </aside>
  <article>
    <section class="container"></section>
  </article>
</main>
