@import '../../styles.scss';

@media screen {
  .body-content {
    .left {
      .sideMenu {
        width           : 270px;
        transform       : translateX(-270px);
        position        : absolute;
        top             : 0;
        background-color: $color_table-header;
        bottom          : 0;
      }

      #sideMenu-active,
      .close,
      .open {
        display: none;
      }
    }

    .right {
      width: 100%;

      article {
        padding-top : $height_header;
        padding-left: $content-size_left-right ;
        padding-right: $content-size_left-right ;

        section.container{
          width           : 90%;
          margin          : $content-size_left-right auto;
          margin-top      : $content-size_top-bottom*4;
          padding         : $content-size_left-right;
          background-color: $color_white;
          box-shadow      : $box-shadow--container;

          .item-categories {
            display     : flex;
            align-items : center;
            width       : 70%;
            margin-left : auto;
            margin-right: auto;

            i {
              color : $color_icon;
              cursor: pointer;
            }
  
            &__title {
              display        : flex;
              align-items    : center;
              justify-content: space-between;
              padding        : $content-size_left-right/1.5 0;
              font-size      : 1.2rem;
  
              &:hover,
              &.active {
                .item-categories__arrow {
                  transform: rotate(-90deg);
                }
              }
  
              .name {
                display    : flex;
                align-items: center;
  
                span {
                  margin-left: $content-size_left-right/2;
                }
              }
            }
              .year{
                display    : flex;
                align-items: center;
                margin-left: $content-size_left-right/2;

                select {
                  width      : 200px;
                  margin-left: $content-size_left-right;
                }
              }
            }
  
            &__arrow {
              transition: $transition_short;
            }
  
            &__list {
              display  : flex;
              flex-flow: column;
              padding  : $content-size_left-right/2 0;
  
              li {
                display    : inline-flex;
                align-items: center;
                padding    : 0;
                margin-top : $content-size_top-bottom/2;
                cursor     : pointer;
              }
            }
  
            h3 {
              width         : 37%;
              margin-left   : auto;
              font-size     : 13px;
              font-weight   : 600;
              color         : $color_text;
              letter-spacing: 1px;
              cursor        : pointer;
            }
  
            h3:hover {
              color        : $color_accent;
              border-bottom: $color_accent 1px solid;
            }
        }

        section.body {
          margin          : $content-size_left-right;
          margin-top      : $content-size_top-bottom*4;
          padding         : $content-size_left-right;
          background-color: $color_white;
          box-shadow      : $box-shadow--container;

          .header {
            display: none;
          }

          .event-list {

            &__header {
              color         : $color_text;
              font-size     : 20px; 
              font-weight   : 600;
              letter-spacing: 1px;
              padding       : $content-size_top-bottom $content-size_left-right/2;
              text-align: center;
            }

            li {
              display    : flex;
              flex-flow  : row nowrap;
              line-height: 1;
              border-left: 1.5px solid $color_text;

              &:not(.event-list__header):not(.event-list__phase) {
                min-height   : 5rem;
                border-bottom: $color_border solid 1px;
              }

              >div {
                padding: $content-size_top-bottom $content-size_left-right/4;
              }

              h1 {
                width     : 100%;
                text-align: center;
              }
            }

            &__month {
              font-size: 16px;
              height: max-content;
              display : inline-block;
              text-align : center;
              padding: $content-size_top-bottom*2 $content-size_left-right;
            }

            &__datapicker{
              border-left:1.5px solid $color_text;
              display: center;
            }            

            &__content {
              display: inline-block;
              text-align: left;
            }

            &__title {
              display  : inline-flex;
              font-size: 13px;
              padding: $content-size_top-bottom/2 $content-size_left-right/4;

              span {
                font-size  : 14px;
                margin-left: $content-size_left-right/4;
              }

              span.date {
                margin-left: $content-size_left-right/2;
                display:inline-block ;
                width:50px;
                word-wrap:break-word;
                white-space:normal;
              }

              span.eventTitle {
                display    : flow-root;
              }
              
            }

            &__calendarName_all{
              display: grid;
              grid-template-columns: 80px 1.25fr 2fr 1.5fr;
              text-align: center;
              grid-gap: 1.5px;
              background-color: $color_text;
              padding: 1.5px;

              >div {
                background-color: #ffffff;
              }
              
              .calendarName_empty{
                display: inline-block;
                text-align   : center;
                font-size    : 12px;
                font-weight: 600; 
              }

              .calendarName_empty2{
                display: inline-block;
                text-align   : center;
                font-size    : 12px;
                font-weight: 600; 
              }

              .calendarName {
                display: inline-block;
                text-align   : center;
                font-size    : 12px;
                font-weight: 600; 
              }

              .calendarName_nd {
                display:inline-block ;
                text-align   : center;
                font-size    : 12px;
                font-weight: 600;            
              }
            }


            &__phase {
              display: grid !important;
              grid-template-columns: 80px 1.25fr 2fr 1.5fr;
              text-align: left;
              border-top: 1px solid $color_text;
              border-bottom: 1px solid $color_text;
              border-left: 1.5px solid $color_text;
              border-right: 1.5px solid $color_text;
            }
          }
        }

        .subBtn {
          display         : flex;
          align-items     : center;
          width           : 10%;
          background-color: $color_accent;
          border-radius   : 5px;
          padding         : $content-size_top-bottom/2 $content-size_left-right/2;
          justify-content : center;
          color           : white;
          letter-spacing  : 1px;
          margin-top      : $content-size_top-bottom*2;
          margin-left     : auto;
          margin-right    : $content-size_left-right;
          margin-bottom   : $content-size_top-bottom;
          cursor          : pointer;

          i {
            color: white;
          }

          span {
            margin-left: $content-size_left-right/2;
          }
        }

        #nodownload {
          display: none;
        }

      }
    }
  }

}

@media screen and (max-width:480px) {
  .body-content {
    display: flex;
    height : 100vh;

    .left {
      .sideMenu {
        width         : 270px;
        display       : flex;
        flex-direction: column;
        padding       : 50px 0;
        position      : fixed;
        transform     : translateX(-100%);
        transition    : 0.4s;
        z-index       : 1000;

        label.close {
          display    : block;
          width      : 20px;
          height     : 40px;
          position   : fixed;
          right      : 10%;
          top        : 3%;
          line-height: 40px;
          text-align : center;

          i {
            cursor     : pointer;
            color      : $color_text;
            font-weight: 600;
          }
        }

        &__content {
          overflow: auto;
          padding : $content-size_top-bottom $content-size_left-right;

          &__list {
            display  : flex;
            flex-flow: column;
            padding  : $content-size_left-right/2 0;

            li {
              display    : inline-flex;
              align-items: center;
              padding    : $content-size_left-right/2 0;
              cursor     : pointer;
            }
          }

          &__item {
            flex       : auto;
            margin-left: $content-size_left-right/2;
          }

          &__status {
            width        : 10px;
            height       : 10px;
            border-radius: 50%;
          }

          &__title {
            display        : flex;
            align-items    : center;
            justify-content: space-between;
            padding        : $content-size_left-right/1.5 0;
            border-bottom  : $color_border solid 1px;
            font-size      : 1.2rem;
            margin-top     : $content-size_top-bottom;

            &:hover,
            &.active {
              .sideMenu__content__arrow {
                transform: rotate(-90deg);
              }
            }

            .title {
              display    : flex;
              align-items: center;

              h1 {
                margin-left: $content-size_left-right/2;
              }
            }
          }

          &__arrow {
            transition: $transition_short;
          }

          &__subscribe,
          &__userTeach {
            display         : flex;
            align-items     : center;
            width           : 100%;
            justify-content : center;
            padding         : $content-size_top-bottom $content-size_left-right;
            background-color: $color_accent;
            border-radius   : 5px;
            color           : white;
            letter-spacing  : 1px;

            i {
              color: white;
            }

            span {
              margin-left: $content-size_left-right/2;
            }
          }

          &__userTeach {
            margin-top: $content-size_top-bottom/2;
          }

          &__add {
            display         : flex;
            align-items     : center;
            width           : 48%;
            justify-content : center;
            padding         : $content-size_top-bottom $content-size_left-right;
            background-color: $color_accent;
            border-radius   : 5px;
            color           : white;
            letter-spacing  : 1px;
          }

          &__add:nth-child(2) {
            margin-left: 4%;
          }
        }
      }

      #sideMenu-active:checked+.sideMenu {
        transform: translateX(0);
      }

      label.open {
        display    : block;
        width      : 20px;
        height     : 40px;
        position   : fixed;
        left       : 10%;
        top        : 3%;
        line-height: 40px;
        text-align : center;
        z-index    : 999;

        i {
          color : $color_accent;
          cursor: pointer;
        }
      }
    }

    .right {

      .aside {
        display: none;
      }

      article {
        padding: $height_header $content-size_left-right;

        section.container {
          width     : 100%;
          margin    : 0;
          margin-top: $content-size_top-bottom*3;
          padding   : $content-size_top-bottom*2 $content-size_top-bottom;

            .item-categories {
              width: 100%;
              display: block;

              i {
                color : $color_icon;
                cursor: pointer;
              }

              &__title {
                display        : flex;
                align-items    : center;
                justify-content: space-between;
                padding        : $content-size_left-right/1.5 0;
                border-bottom  : $color_border solid 1px;
                font-size      : 1.2rem;

                &:hover,
                &.active {
                  .item-categories__arrow {
                    transform: rotate(-90deg);
                  }
                }

                .name {
                  margin-left: $content-size_left-right;

                  span {
                    font-size: 14px;
                  }
                }

                .year{
                  margin-top: $content-size_top-bottom;
  
                  select {
                    width:90px;
                    font-size: 11px;
                  }
                }
              }

              &__arrow {
                transition: $transition_short;
              }

              &__list {
                display  : flex;
                flex-flow: column;
                height   : 100px;
                overflow : auto;

                li {
                  display    : inline-flex;
                  align-items: center;
                  cursor     : pointer;
                  margin-top : $content-size_top-bottom/2;
                }
              }

              h3 {
                width         : 37%;
                margin-left   : auto;
                font-size     : 13px;
                font-weight   : 600;
                color         : $color_text;
                letter-spacing: 1px;
                cursor        : pointer;
              }

              h3:hover {
                color        : $color_accent;
                border-bottom: $color_accent 1px solid;
              }


            }

            .year {
              display    : flex;
              align-items: center;

              select {
                margin-left: $content-size_left-right/2;
              }

              span {
                width: 80px;
              }
            }
          }  
        section.body{

          display:none;
          // .event-list {
          //   margin-top: $content-size_top-bottom;

          //   &__header {
          //     font-size: 11px;
          //     padding  : $content-size_top-bottom/2;
          //   }

          //   &__phase {
          //     font-size: 11px;
          //   }

          //   &__datapicker{
          //     display:none;
          //   }

          //   &__title,
          //   &__content,
          //   &__date {
          //     padding: $content-size_top-bottom/2 $content-size_left-right/4;
          //   }

          //   &__title {
          //     flex: 1.5;
          //   }

          //   &__content {
          //     flex: 2;
          //   }

          //   &__date {
          //     flex: 1;
          //   }
          // }
        }
          // .event-list {
          //   margin-top: $content-size_top-bottom;

          //   &__header {
          //     font-size: 11px;
          //     padding  : $content-size_top-bottom/2;
          //   }

          //   &__phase {
          //     font-size: 11px;
          //   }

          //   &__title,
          //   &__content,
          //   &__date {
          //     padding: $content-size_top-bottom/2 $content-size_left-right/4;
          //   }

          //   &__title {
          //     flex: 1.5;
          //   }

          //   &__content {
          //     flex: 2;
          //   }

          //   &__date {
          //     flex: 1;
          //   }
          // }

          .subBtn {
            width: 90px;
            margin: $content-size_top-bottom*2 auto;
          }
        }
      
    }
  }
}
