/* You can add global styles to this file, and also import other style files */
// @import 'bootswatch/dist/sketchy/bootstrap.min.css';
@import '~@fullcalendar/core/main.css';
@import '~@fullcalendar/daygrid/main.css';

@import '../src/app/styles/color.scss';
@import '../src/app/styles/layout-size.scss';
@import '../src/app/styles/shadow.scss';
@import '../src/app/styles/variable.scss';

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin        : 0;
  padding       : 0;
  border        : 0;
  font-size     : 100%;
  font          : inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

i {
  color : $color_icon;
  cursor: pointer;
}

html,
body {
  width           : 100%;
  height          : 100%;
  margin          : 0;
  background-color: $color_primary;
  color           : $color_text;
  font-family     : 'Noto Sans TC', sans-serif;
}

.form-control:focus {
  border-color      : none;
  box-shadow        : none;
  -webkit-box-shadow: none;
  outline           : $color_form_control auto 5px;
}

.fc-time {
  display: none;
}

.fc-title {
  font-size: 0;
}

.fc-event-container {
  cursor: pointer;
}

.fc-content {
  // background-color: #439B91;
  background-color: unset !important;
  height          : 5px;
}

.page-item.active .page-link {
  background-color: $color_accent;
  border-color    : $color_accent;
}

.page-link {
  color: $color_accent;
}

.page-link:hover {
  color: $color_accent;
}

.fc-event,
.fc-event-dot {
  border: none;
}

.bg-light {
  background-color: white !important;
  box-shadow      : 2px 6px 17px -16px rgba(0, 0, 0, 0.75);
}

.theme-green .bs-datepicker-head {
  background-color: #439B91;
}

.theme-green .bs-datepicker-body table td.week span {
  display: none;
}

.table-active,
.table-active>th,
.table-active>td {
  background-color: #eee;
}

.fc-ltr .fc-list-heading-main {
  color         : black;
  letter-spacing: 4px;
}

.fc-ltr .fc-list-heading-alt {
  color         : black;
  letter-spacing: 4px;
  margin-right  : 10px;
}

.fc-toolbar h2 {
  color    : black;
  font-size: 20px;
}

.fc-scroller {
  background-color: white;
  box-shadow      : 1px 13px 23px -15px rgba(0, 0, 0, 0.75);
}

.fc-listYear-view td:nth-child(1) {
  padding-left: 10px;
}

.fc-list-item-time {
  letter-spacing: 4px;
}

.fc-list-item-title a {
  letter-spacing: 1px;
  margin-left   : 10px;
}

.card-header {
  border-style    : unset;
  background-color: unset;
}

.btn-outline-primary {
  color       : #2C3E50;
  border-color: #2C3E50;
}

.btn-outline-primary:hover {
  background-color: #2C3E50;
  border-color    : #2C3E50;
}

.btn-primary.disabled,
.btn-primary:disabled {
  border-color    : #2C3E50;
  background-color: #2C3E50;
}

.btn-primary {
  border-color    : #2C3E50;
  background-color: #2C3E50;
}

.btn-primary:hover {
  border-color    : #0C2032;
  background-color: #0C2032;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  background-color: #42586E;
  border-color    : #42586E;
}

.fc-day-header span {
  font-size: 13px;
}

.fc-prev-button,
.fc-next-button {
  width           : 30px;
  height          : 30px;
  background-color: #439B91;
  border-color    : #439B91;
}

.fc-icon-chevron-right {
  margin-top : -15px;
  margin-left: -8px;
}

.fc-icon-chevron-left {
  margin-top : -15px;
  margin-left: -8px;
}

.fc-dayGrid-view .fc-body .fc-row {
  min-height: 2em;
  font-size : 10px;
}

.fc-unthemed td.fc-today {
  background: #F0F0F0;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu.show {
  border     : 2px #EBEBEB solid;
  margin-top : 11px;
  margin-left: -130px;
}

a.dropdown-item {
  padding: 5px !important;
}

label.container {
  display            : block;
  position           : relative;
  padding-left       : 35px;
  margin-bottom      : 12px;
  cursor             : pointer;
  -webkit-user-select: none;
  -moz-user-select   : none;
  -ms-user-select    : none;
  user-select        : none;
}

/* Hide the browser's default checkbox */
label.container input {
  position: absolute;
  opacity : 0;
  cursor  : pointer;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top     : 3px;
  left    : 5px;
  height  : 20px;
  width   : 20px;
  border  : 2px solid $color_border;
}

.checkmark:hover {
  background-color: $color_icon;
}

/* When the checkbox is checked, add a blue background */
label.container input:checked~.checkmark {
  background-color: $color_accent;
  border          : none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content : "";
  position: absolute;
  display : none;
}

/* Show the checkmark when checked */
label.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
label.container .checkmark:after {
  left             : 7px;
  top              : 3px;
  width            : 5px;
  height           : 10px;
  border           : solid white;
  border-width     : 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform    : rotate(45deg);
  transform        : rotate(45deg);
}

.material-icons {
  font-family   : 'Material Icons';
  font-weight   : normal;
  font-style    : normal;
  font-size     : 24px;
  /* Preferred icon size */
  display       : inline-block;
  line-height   : 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap     : normal;
  white-space   : nowrap;
  direction     : ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering        : optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@media screen and (max-width:480px) {
  .completer-holder {
    margin-left: 15%;
  }

  .ngb-tp-input {
    font-size: 0.7rem;
    width: 65%;
  }

  .ngb-tp-spacer {
    width: 0em !important;
  }

  .btn-outline-primary {
    font-size: 0.7rem;
  }

}
