@import '../../styles.scss';

@media screen {

  article {
    padding-top : $height_header;
    padding-left: $content-size_left-right*2;

    section.container {
      margin          : $content-size_left-right;
      margin-top      : $content-size_top-bottom*4;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;

      .add {
        width : 96%;
        margin: $content-size_top-bottom*3 auto;

        h2 {
          width      : 90px;
          margin-left: $content-size_left-right/2;
        }

        &__title {
          display   : inline-flex;
          margin-top: $content-size_top-bottom*(-1);

          h1 {
            font-size  : 25px;
            font-weight: 550;
          }

          input {
            width        : 400px;
            margin-left  : $content-size_left-right;
            border       : 0;
            outline      : 0;
            background   : transparent;
            border-bottom: 2px solid $color_text-light;
          }

          input:focus,
          input:hover {
            border-bottom: 2px solid $color_accent;
          }
        }

        &__attributes {
          display    : flex;
          align-items: center;
          margin-top : $content-size_top-bottom*3;

          ul {
            margin-top: $content-size_top-bottom;

            li {
              display    : inline-flex;
              align-items: center;
              cursor     : pointer;

              span {
                border-radius: 30px;
              }
            }

            li:nth-child(2) {
              margin-left: $content-size_left-right/2;
            }
          }

        }

        &__calendar {
          display    : flex;
          align-items: center;
          margin-top : $content-size_top-bottom;

          &__list {
            width      : 250px;
            margin-left: $content-size_left-right/2;
          }

          .other {
            background-color: $color_second;
            color           : white;
            border-radius   : 80px;
            width           : 160px;
            margin-left     : $content-size_left-right;
            font-size       : 14px;
            justify-content : center;
            letter-spacing  : 1px;
            height          : 38px;
            padding         : 8px 8px;
            text-align      : center;
            cursor          : pointer;
          }
        }

        &__time {
          display    : flex;
          align-items: center;
          margin-top : $content-size_top-bottom;

          input {
            width      : 250px;
            margin-left: $content-size_left-right/2;
          }

          .timepicker {
            margin-left: $content-size_left-right/2;
          }
        }

        &__more {
          margin-top: $content-size_top-bottom*2;

          button {
            background-color: $color_text;
            border-color    : unset;
          }
        }

        &__location {
          display    : flex;
          align-items: center;
          margin-top : $content-size_top-bottom*3;

          input.location {
            width: 300px;
          }
        }

        &__participant {
          display    : flex;
          align-items: center;
          margin-left: $content-size_left-right*2;

          form {
            display    : flex;
            align-items: center;

            input.addUserBtn {
              display: none;
            }

            label {
              width           : 50px;
              display         : flex;
              justify-content : center;
              align-items     : center;
              padding         : 6px 0;
              border          : 1px solid $color_form_control;
              border-radius   : 0 5px 5px 0;
              cursor          : pointer;
              transition      : box-shadow .4s ease;
              margin-left     : -$content-size_left-right/4;
              background-color: $color_border;
            }
          }
        }

        &__common-user {
          display         : flex;
          align-items     : center;
          text-align      : center;
          justify-content : center;
          background-color: $color_second;
          border-radius   : 60px;
          color           : white;
          letter-spacing  : 1px;
          margin-left     : $content-size_left-right*2;
          width           : 200px;
          font-size       : 14px;
          height          : 38px;
          cursor          : pointer;

          i {
            color: white;
          }

          h3 {
            margin-left: $content-size_left-right/2;
          }
        }

        &__description {
          display   : flex;
          margin-top: $content-size_top-bottom*2;

          textarea {
            width     : 300px;
            min-height: 50px;
            overflow  : auto;
          }

          .all_participants {
            width        : 400px;
            height       : 200px;
            border       : 1px solid $color_form_control;
            border-radius: 5px;
            margin-left  : $content-size_left-right*2;
            overflow     : auto;

            li {
              display    : flex;
              align-items: center;
              margin     : $content-size_top-bottom $content-size_left-right/2;

              i {
                font-size: 15px;
              }

              i:hover {
                color: $color_accent;
              }
            }
          }

          .all_common-user {
            margin-left: $content-size_left-right*2;
            width      : 200px;

            input {
              width: 100%;
            }
          }
        }

        &__file {
          margin-top: $content-size_top-bottom*2;
          display   : flex;

          .custom-file {
            width: 15%;

            input {
              display: none;
            }

            label {
              width           : 100%;
              display         : flex;
              justify-content : center;
              align-items     : center;
              background-color: $color_accent;
              letter-spacing  : 1px;
              height          : 38px;
              padding         : $content-size_top-bottom/2 $content-size_left-right/2;
              border-radius   : 90px;
              color           : white;
              cursor          : pointer;
              transition      : box-shadow .4s ease;
              box-shadow      : 0px 1px 6px -2px #000000;

              i {
                color    : white;
                font-size: 16px;
              }

              span {
                margin-left: $content-size_left-right/4;
              }
            }

            label:hover {
              box-shadow: 0px 1px 6px -2px $color_accent;
            }
          }

        }

        &__all__files {
          display      : flex;
          width        : 88.5%;
          height       : 100px;
          border       : 1px solid $color_form_control;
          border-radius: 5px;
          margin-left  : $content-size_left-right*6;
          margin-top   : $content-size_top-bottom*2;
          overflow     : auto;

          ul {
            padding: $content-size_top-bottom/2 $content-size_left-right/2;
            width  : 100%;

            li {
              display    : flex;
              align-items: center;
              margin     : $content-size_top-bottom $content-size_left-right/2;

              i {
                font-size: 15px;
              }

              i:hover {
                color: $color_accent;
              }

              h4 {
                margin-left: $content-size_left-right/2;
              }
            }
          }
        }

        .submit {
          display         : flex;
          align-items     : center;
          justify-content : center;
          height          : 30px;
          width           : 7%;
          margin-left     : auto;
          background-color: $color_accent;
          color           : white;
          cursor          : pointer;
          font-size       : 0.9rem;
          color           : white;
          border-radius   : 5px;
          margin-top      : $content-size_top-bottom*1.5;

          i {
            color: white;
          }

          span {
            margin-left: $content-size_left-right/4;
          }
        }

      }
    }
  }

  .event_dialog {
    width      : 50%;
    height     : 420px;
    margin-top : 10.5%;
    margin-left: 25%;

    .event_body {
      padding: 10px;

      .event_border {
        width           : 100%;
        height          : 400px;
        border-radius   : 5px;
        background-color: white;
        box-shadow      : 0px 0px 5px 5px rgba(0, 0, 0, 0.13);


        i.cancel {
          position   : relative;
          z-index    : 1000;
          height     : 20px;
          width      : 20px;
          cursor     : pointer;
          color      : black;
          margin-left: 95%;
          position   : relative;
          top        : -10px;
          left       : 20px;
        }

        i.cancel:hover {
          color     : $color_accent;
          transition: $transition_short;
        }

        .event_content {
          letter-spacing: 1px;

          .event_block {
            padding-top: $content-size_top-bottom*2;
            overflow   : auto;
            padding    : $content-size_top-bottom $content-size_left-right;
            position   : relative;
            border-radius: 5px 0 0 5px;
            z-index    : 999;
            width      : 30%;
            height     : 400px;
            margin-top : -30px;
            box-shadow : 0px 0px 5px 0px rgba(0, 0, 0, 0.13);

            span.title {
              font-size  : 16px;
              font-weight: 600;
            }

            ul.allCommonUserForm {
              padding-top: $content-size_top-bottom;

              li {
                display    : flex;
                align-items: center;
                margin-top : $content-size_top-bottom;

                span {
                  border-radius: 30px;
                }
              }
            }
          }

          .event_participants {
            padding         : $content-size_top-bottom*3 $content-size_left-right;
            position        : relative;
            z-index         : 998;
            margin-left     : 30%;
            width           : 70%;
            height          : 397px;
            margin-top      : -397px;
            background-color: $color_primary;

            .all {
              display       : flex;
              align-items   : center;
              cursor        : pointer;
              width         : 25%;
              font-size     : 14px;
              letter-spacing: 1px;
              margin-left   : 78%;
              margin-top    : $content-size_top-bottom*2;

              span {
                top: 0;
              }
            }

            .allEmails {
              overflow    : auto;
              width       : 90%;
              margin-left : 5%;
              margin-right: 5%;
              height      : 75%;
              padding     : $content-size_top-bottom $content-size_left-right;
              border      : $color_border 2px solid;

              li {
                display    : flex;
                align-items: center;
              }

            }

            .btn {
              display    : flex;
              align-items: center;
              margin-top : $content-size_top-bottom;

              .cancel,
              .import {
                padding      : $content-size_top-bottom/2 $content-size_left-right/2;
                text-align   : center;
                width        : 50px;
                font-size    : 14px;
                border-radius: 5px;
              }

              .cancel {
                background-color: $color_border;
                margin-left     : auto;
                margin-right    : $content-size_left-right/2;
              }

              .import {
                background-color: $color_accent;
                color           : white;
                margin-right    : $content-size_left-right;
              }
            }

          }
        }

      }
    }
  }

  .calendar_dialog {
    width      : 30%;
    height     : 420px;
    margin-top : 10.5%;
    margin-left: 35%;

    .calendar_body {
      padding: 10px;

      .calendar_border {
        width           : 100%;
        height          : 400px;
        border-radius   : 5px;
        border          : $color_border 2px solid;
        background-color: white;
        box-shadow      : 0px 0px 5px 0px rgba(0, 0, 0, 0.13);

        i.cancel {
          position   : relative;
          z-index    : 1000;
          height     : 20px;
          width      : 20px;
          cursor     : pointer;
          color      : black;
          margin-left: 95%;
          position   : relative;
          top        : -10px;
          left       : 10px;
        }

        i.cancel:hover {
          color     : $color_accent;
          transition: $transition_short;
        }

        .calendar_container {
          width       : 90%;
          margin-left : auto;
          margin-right: auto;
          height      : 310px;
          overflow    : auto;
          padding-top : $content-size_top-bottom $content-size_left-right/2;

          .calendar_checkbox {
            flex: 0.2;

            span {
              top: -3px;
            }
          }

          .calendar_name {
            flex: 1;
          }

          .calendar_title {
            width           : 100%;
            display         : flex;
            align-items     : center;
            border          : 1px solid $color_border;
            border-radius   : 5px 5px 0 0;
            background-color: $color-table-header;
            padding         : $content-size_top-bottom $content-size_left-right;
          }

          .calendar_content {
            width      : 100%;
            display    : flex;
            align-items: center;
            border     : 1px solid $color_border;
            padding    : $content-size_top-bottom $content-size_left-right;
          }
        }

        .btn {
          width      : 100%;
          display    : flex;
          align-items: center;
          margin-top : $content-size_top-bottom*1.5;

          .cancel,
          .import {
            padding      : $content-size_top-bottom/2 $content-size_left-right/2;
            text-align   : center;
            width        : 50px;
            font-size    : 14px;
            border-radius: 5px;
          }

          .cancel {
            background-color: $color_border;
            margin-left     : auto;
            margin-right    : $content-size_left-right/2;
          }

          .import {
            background-color: $color_accent;
            color           : white;
            margin-right    : $content-size_left-right;
          }
        }
      }
    }
  }

}


@media screen and (max-width:480px) {}
