<app-navbar></app-navbar>
<main>
  <article>
    <section class="container">
      <div class="submit" (click)="add()">
        <i class="material-icons">
          done_all
        </i>
        <span>建立</span>
      </div>
      <div class="add__title">
        <h1>新增標題</h1>
        <input type="text" placeholder="請輸入標題" #addTitle (keyup)="0" required>
      </div>
      <div class="add__attributes">
        <i class="material-icons">
          edit_attributes
        </i>
        <h2>行程屬性：</h2>
        <ul>
          <li>
            <label class="container">
              <input type="checkbox" class="material-icons item-categories__checkbox" [(ngModel)]="isMeet" value="會議"
                (change)="meet($event)">會議
              <span class="checkmark"></span>
            </label>
          </li>
          <li>
            <label class="container">
              <input type="checkbox" class="material-icons item-categories__checkbox" [(ngModel)]="isSchedule"
                value="行程" (change)="schedule($event)">行程
              <span class="checkmark"></span>
            </label>
          </li>
        </ul>
      </div>
      <div class="add__calendar">
        <i class="material-icons">
          event_available
        </i>
        <h2>選擇行事曆</h2>
        <ul class="add__calendar__list">
          <li *ngFor="let calendar of calendars">
            <label class="container">
              <input type="checkbox" class="material-icons item-categories__checkbox" [(ngModel)]="calendar.isChecked"
                (change)="changeSelection()">{{calendar.name}}
              <span class="checkmark"></span>
            </label>
          </li>
        </ul>
      </div>
      <div class="add__time">
        <i class="material-icons">
          access_time
        </i>
        <h2>開始時間：</h2>
        <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
          #addStartDate required>
        <ngb-timepicker [(ngModel)]="startTime" [seconds]="seconds" [spinners]="spinners" [meridian]="meridian"
          class="timepicker" #addStartTime required></ngb-timepicker>
      </div>
      <div class="add__time">
        <i class="material-icons">
          access_time
        </i>
        <h2>結束時間：</h2>
        <input type="text" class="form-control" bsDatepicker [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }" #addEndDate
          required>
        <ngb-timepicker [(ngModel)]="endTime" [seconds]="seconds" [spinners]="spinners" [meridian]="meridian"
          class="timepicker" #addEndTime required></ngb-timepicker>
      </div>
      <div class="add__more">
        <button type="button" class="btn btn-primary disabled" (click)="isOpen = !isOpen" [attr.aria-expanded]="!isOpen"
          aria-controls="collapseBasic">進階
        </button>
      </div>
      <hr>
      <div id="collapseBasic" [collapse]="isOpen" [isAnimated]="true">
        <div class="add__location">
          <i class="material-icons">
            place
          </i>
          <h2>地點：</h2>
          <input type="text" class="location form-control" #location placeholder="新增地點">
          <div class="add__participant">
            <i class="material-icons">
              people
            </i>
            <h2>參與人員：</h2>
            <form [formGroup]="sendEmailForm" (ngSubmit)="send(sendEmailForm.value)" class="email">
              <div>
                <input type="email" class="form-control" placeholder="輸入邀請對象Email" formControlName="toAddress">
              </div>
              <input type="submit" class="addUserBtn" [disabled]="!sendEmailForm.valid">
              <label class="button-primary">
                <span>邀請</span>
              </label>
            </form>
          </div>
          <div class="add__common-user">
            <i class="material-icons">
              person_add
            </i>
            <h2>常用參與人員：</h2>
          </div>
        </div>
        <div class="add__description">
          <i class="material-icons">
            subject
          </i>
          <h2>事由：</h2>
          <textarea class="form-control" id="exampleTextarea" rows="3" #description placeholder="新增說明"></textarea>
          <div class="all_participants" placeholder="參與對象">
            <ul>
              <li *ngFor="let name of invalidEmails;let index = index">
                <i class="material-icons">
                  person
                </i>
                <h2>{{name}}</h2>
                <i class="material-icons" (click)="removeAddUser(index)">
                  delete
                </i>
              </li>
            </ul>
          </div>
          <div class="all_common-user">
            <select class="form-control" (change)="commonUser($event)">
              <option></option>
              <option *ngFor="let name of allCommonUser">{{name.title}}</option>
            </select>
            <input type="button" class="form-control" value="建議時間">
          </div>
        </div>
        <div class="add__file">
          <i class="material-icons">
            attach_file
          </i>
          <h2>附件：</h2>
          <div class="custom-file">
            <input id="customFileInput" type="file" (change)="fileSelected($event)" multiple="multiple">
            <label for="customFileInput" class="button-primary">
              <span>選擇檔案</span>
            </label>
          </div>
        </div>
        <div class="add__all__files">
          <ul class="file">
            <li *ngFor="let name of fileName; let index = index">
              <h2>{{name}}</h2>
              <i class="material-icons" (click)="removeSelectedFile(index)">
                delete
              </i>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </article>
</main>
