@import '../../styles.scss';

@media screen {

  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    font-size     : 100%;
    font          : inherit;
    vertical-align: baseline;
  }

  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }

  body {
    line-height: 1;
  }

  ol,
  ul {
    list-style: none;
  }

  blockquote,
  q {
    quotes: none;
  }

  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }

  article {
    padding-top : $height_header;
    padding-left: $width_aside;

    section.container {
      margin          : $content-size_left-right;
      margin-top      : $content-size_top-bottom*4;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;

      i {
        color     : $color_icon;
        cursor    : pointer;
        margin-top: $content-size_top-bottom/2;
      }

      h2 {
        margin-left: $content-size_left-right/2;
        margin-top : $content-size_top-bottom/2;
      }

      .add {

        &__title {
          display: inline-flex;

          h1 {
            font-size  : 25px;
            font-weight: 550;
          }

          input {
            width        : 400px;
            margin-left  : $content-size_left-right;
            border       : 0;
            outline      : 0;
            background   : transparent;
            border-bottom: 2px solid $color_text-light;
          }

          input:focus,
          input:hover {
            border-bottom: 2px solid $color_accent;
          }
        }

        &__calendar {
          display   : flex;
          margin-top: $content-size_top-bottom*3;

          &__list {
            margin-left: $content-size_left-right/2;
            margin-top : $content-size_top-bottom/2;

            li {
              display    : inline-flex;
              align-items: center;
              cursor     : pointer;
              margin-left: $content-size_left-right/2;

              /* The container */
              .container {
                display            : block;
                position           : relative;
                padding-left       : 35px;
                margin-bottom      : 12px;
                cursor             : pointer;
                -webkit-user-select: none;
                -moz-user-select   : none;
                -ms-user-select    : none;
                user-select        : none;
              }

              /* Hide the browser's default checkbox */
              .container input {
                position: absolute;
                opacity : 0;
                cursor  : pointer;
              }

              /* Create a custom checkbox */
              .checkmark {
                position: absolute;
                top     : 3px;
                left    : 5px;
                height  : 20px;
                width   : 20px;
                border  : 2px solid $color_border;
              }

              .checkmark:hover {
                background-color: $color_icon;
              }

              /* When the checkbox is checked, add a blue background */
              .container input:checked~.checkmark {
                background-color: $color_accent;
                border          : none;
              }

              /* Create the checkmark/indicator (hidden when not checked) */
              .checkmark:after {
                content : "";
                position: absolute;
                display : none;
              }

              /* Show the checkmark when checked */
              .container input:checked~.checkmark:after {
                display: block;
              }

              /* Style the checkmark/indicator */
              .container .checkmark:after {
                left             : 7px;
                top              : 3px;
                width            : 5px;
                height           : 10px;
                border           : solid white;
                border-width     : 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform    : rotate(45deg);
                transform        : rotate(45deg);
              }

            }
          }
        }

        &__time {
          display   : flex;
          margin-top: $content-size_top-bottom;

          input {
            width      : 250px;
            margin-left: $content-size_left-right/2;
          }

          .timepicker {
            margin-left: $content-size_left-right/2;
          }
        }

        &__more {
          margin-top: $content-size_top-bottom*2;

          button {
            background-color: $color_text;
            border-color    : unset;
          }
        }

        &__location {
          display   : flex;
          margin-top: $content-size_top-bottom*3;

          input.location {
            width: 300px;
          }
        }

        &__participant {
          display    : flex;
          margin-left: $content-size_left-right*2;

          form {
            display: flex;
          }

          input.addUserBtn {
            display: none;
          }

          label {
            width           : 50px;
            display         : flex;
            justify-content : center;
            align-items     : center;
            margin-bottom   : 32px;
            padding         : 6px 0;
            border          : 1px solid $color_form_control;
            border-radius   : 0 5px 5px 0;
            cursor          : pointer;
            transition      : box-shadow .4s ease;
            margin-left     : -$content-size_left-right/4;
            background-color: $color_border;
          }


        }

        &__description {
          display: flex;

          textarea {
            width: 300px;
          }

          .all_participants {
            width        : 400px;
            height       : 200px;
            border       : 1px solid $color_form_control;
            border-radius: 5px;
            margin-left  : $content-size_left-right*2;
            overflow     : auto;
          }

          li {
            display: flex;
            margin : $content-size_top-bottom $content-size_left-right/2;
          }
        }

        &__file {
          margin-top: $content-size_top-bottom*2;
          display   : flex;

          .custom-file {
            width: 15%;

            input {
              display: none;
            }

            label {
              display        : flex;
              justify-content: center;
              align-items    : center;
              margin-bottom  : 32px;
              padding        : 8px 30px;
              border         : 1px solid $color_form_control;
              border-radius  : 5px;
              cursor         : pointer;
              transition     : box-shadow .4s ease;
            }

            label:hover {
              background-color: $color_icon;
              color           : $color_white;
            }
          }

        }

        &__all__files {
          display      : flex;
          width        : 80%;
          height       : 100px;
          border       : 1px solid $color_form_control;
          border-radius: 5px;
          margin-left  : $content-size_left-right*4;
          margin-top   : $content-size_top-bottom*2;
          overflow     : auto;

          li {
            display: flex;
          }
        }

      }


      .submit {
        display         : flex;
        align-items     : center;
        justify-content : center;
        height          : 50px;
        width           : 10%;
        margin-top      : 3%;
        margin-left: auto;
        margin-right: auto;
        background-color: $color_accent;
        color           : white;
        cursor          : pointer;
      }

    }


  }


  .aside {
    position        : fixed;
    z-index         : $z-index_second;
    overflow        : auto;
    box-sizing      : border-box;
    margin-top      : $height_header;
    padding         : $content-size_top-bottom $content-size_left-right;
    width           : $width_aside;
    height          : calc(100vh - #{$height_header});
    background-color: $color_white;
    box-shadow      : $box-shadow--left;
  }

  .item-categories {

    i {
      color : $color_icon;
      cursor: pointer;
    }


    &__title {
      display        : flex;
      align-items    : center;
      justify-content: space-between;
      padding        : $content-size_left-right/1.5 0;
      border-bottom  : $color_border solid 1px;
      font-size      : 1.2rem;

      &:hover,
      &.active {
        .item-categories__arrow {
          transform: rotate(-90deg);
        }
      }
    }

    &__arrow {
      transition: $transition_short;
    }

    &__list {
      display  : flex;
      flex-flow: column;
      padding  : $content-size_left-right/2 0;

    }

    &__checkbox {
      margin-right: $content-size_left-right/2;
    }

    &__item {
      flex: auto;
    }

    &__status {
      margin-top   : -$content-size_top-bottom;
      width        : 10px;
      height       : 10px;
      border-radius: 50%;
    }
  }

  body {
    background-color: $color_primary;
    color           : $color_text;
    font-weight     : 400;
    font-family     : 'Noto Sans TC', sans-serif;
  }


  .material-icons {
    font-family   : 'Material Icons';
    font-weight   : normal;
    font-style    : normal;
    font-size     : 24px;
    /* Preferred icon size */
    display       : inline-block;
    line-height   : 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap     : normal;
    white-space   : nowrap;
    direction     : ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering        : optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
  }


}


@media screen and (max-width:480px) {}
