@media screen {
  .wrap {
    width    : 100%;
    height   : 100%;
    position : relative;
    min-width: 320px;
    margin-top: 80px;
  }

  .title {
    text-align: center;
    margin-top: 20px;
  }

  .title button {
    position        : relative;
    font-weight     : 1000;
    z-index         : 2;
    background-color: white;
    color           : black;
    letter-spacing: 2px;
  }

  .jumbotron {
    position: absolute;
    width   : 50%;
    margin  : -20px 25% 20px 25%;
    z-index : 1;
    height  : fit-content;
    background-color: white;
    box-shadow  : 0px 15px 22px 0px rgba(0, 0, 0, 0.75);
  }

  .form-group {
    margin-left: 10%;
  }

  .btn-group {
    margin-left: 40%;
    margin-top: 30px;
    margin-bottom: -20px;
  }

}
@media screen and (max-width:480px) {

  .jumbotron {
    width: 90%;
    margin  : -20px 5% 20px 5%;
  }

  .btn-group {
    margin-left: 30%;
  }

  .url {
    margin-left: 0;
  }

  .col-sm-8 {
    width: 80%;
  }

}
