<div class="body-content">
  <input type="checkbox" name="" id="sideMenu-active">
  <div class="sideMenu">
    <label for="sideMenu-active" class="close">
      <i class="material-icons">east</i>
    </label>
    <div class="sideMenu__content">
      <div class="sideMenu__content__subscribe" routerLink="/add-subscribe">
        <i class="material-icons">
          bookmarks
        </i>
        <span>新增訂閱</span>
      </div>
      <div class="sideMenu__content__userTeach" routerLink="/user-teach">
        <i class="material-icons">
          help_outline
        </i>
        <span>使用說明</span>
      </div>
      <ul>
        <li>
          <div class="sideMenu__content__title active">
            <div class="title">
              <i class="material-icons">
                library_add
              </i>
              <h1>行程管理</h1>
            </div>
            <div class="form-group row">
              <i class="material-icons sideMenu__content__arrow" (click)="isOpen = !isOpen"
                [attr.aria-expanded]="!isOpen" aria-controls="collapseBasic">
                arrow_left
              </i>
            </div>
          </div>
          <div id="collapseBasic" [collapse]="isOpen" [isAnimated]="true">
            <ul class="sideMenu__content__list">
              <li>
                <div class="sideMenu__content__add" routerLink="/add-schedule">
                  <span>新增行程</span>
                </div>
                <div class="sideMenu__content__add" routerLink="/meeting">
                  <span>查看會議</span>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="sideMenu__content__title active">
            <div class="title">
              <i class="material-icons">
                open_in_new
              </i>
              <h1>匯出入管理</h1>
            </div>
            <div class="form-group row">
              <i class="material-icons sideMenu__content__arrow" (click)="isTrue = !isTrue"
                [attr.aria-expanded]="!isTrue" aria-controls="collapseBasic">
                arrow_left
              </i>
            </div>
          </div>
          <div id="collapseBasic" [collapse]="isTrue" [isAnimated]="true">
            <ul class="sideMenu__content__list">
              <li  *ngIf="staff === 'true'">
                <div class="sideMenu__content__add" routerLink="/official-add">
                  <span>匯出修改</span>
                </div>
                <div class="sideMenu__content__add" routerLink="/official-change">
                  <span>匯入建立</span>
                </div>
              </li>
              <li>
                <div class="sideMenu__content__add" routerLink="/opendata">
                  <span>OpenData</span>
                </div>
                <div class="sideMenu__content__add" routerLink="/export" *ngIf="staff === 'true'">
                  <span>匯出&nbsp;PDF</span>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <label for="sideMenu-active" class="open">
    <i class="material-icons">menu</i>
  </label>
  <div class="right">
    <app-navbar></app-navbar>
    <main>
      <article>
        <section class="container">
          <h1>麻煩請洽資訊與網路中心申請</h1>
        </section>
      </article>
    </main>
  </div>
</div>
