<div class="body-content">
  <input type="checkbox" name="" id="sideMenu-active">
  <div class="sideMenu">
    <label for="sideMenu-active" class="close">
      <i class="material-icons">east</i>
    </label>
    <div class="sideMenu__content">
      <div class="sideMenu__content__subscribe" routerLink="/add-subscribe">
        <i class="material-icons">
          bookmarks
        </i>
        <span>新增訂閱</span>
      </div>
      <div class="sideMenu__content__userTeach" routerLink="/user-teach">
        <i class="material-icons">
          help_outline
        </i>
        <span>使用說明</span>
      </div>
      <ul>
        <li>
          <div class="sideMenu__content__title active">
            <div class="title">
              <i class="material-icons">
                library_add
              </i>
              <h1>行程管理</h1>
            </div>
            <div class="form-group row">
              <i class="material-icons sideMenu__content__arrow" (click)="isOpen = !isOpen"
                [attr.aria-expanded]="!isOpen" aria-controls="collapseBasic">
                arrow_left
              </i>
            </div>
          </div>
          <div id="collapseBasic" [collapse]="isOpen" [isAnimated]="true">
            <ul class="sideMenu__content__list">
              <li>
                <div class="sideMenu__content__add" routerLink="/add-schedule">
                  <span>新增行程</span>
                </div>
                <div class="sideMenu__content__add" routerLink="/meeting">
                  <span>查看會議</span>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
      <ul>
        <li>
          <div class="sideMenu__content__title active">
            <div class="title">
              <i class="material-icons">
                open_in_new
              </i>
              <h1>匯出入管理</h1>
            </div>
            <div class="form-group row">
              <i class="material-icons sideMenu__content__arrow" (click)="isTrue = !isTrue"
                [attr.aria-expanded]="!isTrue" aria-controls="collapseBasic">
                arrow_left
              </i>
            </div>
          </div>
          <div id="collapseBasic" [collapse]="isTrue" [isAnimated]="true">
            <ul class="sideMenu__content__list">
              <li>
                <div class="sideMenu__content__add" routerLink="/official-add">
                  <span>匯出修改</span>
                </div>
                <div class="sideMenu__content__add" routerLink="/official-change">
                  <span>匯入建立</span>
                </div>
              </li>
              <li>
                <div class="sideMenu__content__add" routerLink="/opendata">
                  <span>OpenData</span>
                </div>
                <div class="sideMenu__content__add" routerLink="/export">
                  <span>匯出PDF</span>
                </div>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <label for="sideMenu-active" class="open">
    <i class="material-icons">menu</i>
  </label>
  <div class="right">
    <app-navbar></app-navbar>
    <main>
      <article>
        <section class="container">
          <div class="title">
            <i class="material-icons">
              notifications
            </i>
            <h1>親愛的使用者您好，您目前沒有權限新增行事曆，填寫表單即可進行申請。</h1>
          </div>
          <div class="form">
            <div class="form__name">
              <h2>行事曆名稱</h2>
              <input type="text" class="form-control">
            </div>
            <div class="form__color">
              <h2>行事曆顏色</h2>
              <div [(colorPicker)]="color" [style.background]="color" class="color form-control">
                <i class="material-icons">
                  keyboard_arrow_down
                </i>
              </div>
            </div>
            <div class="form__description">
              <h2>描述</h2>
              <textarea class="form-control"></textarea>
            </div>
            <div class="form__attribute">
              <h2>行事曆權限</h2>
              <label class="container">
                <input type="checkbox" class="material-icons item-categories__checkbox" [(ngModel)]="isMeet"
                  value="public" (change)="meet($event)">公開
                <span class="checkmark"></span>
              </label>
              <label class="container">
                <input type="checkbox" class="material-icons item-categories__checkbox" [(ngModel)]="isSchedule"
                  value="private" (change)="schedule($event)">不公開
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="content__office__header">
              <h2>單位權限設定</h2>
              <div class="add" (click)="addOffice()">
                <i class="material-icons">
                  add
                </i>
                添加更多權限設定
              </div>
            </div>
            <div class="otherOffice">
              <div class="otherOffice__title">
                <div class="otherOffice__name">行事曆名稱</div>
                <div class="otherOffice__role">使用者身分</div>
                <div class="otherOffice__permission">權限</div>
                <div class="otherOffice__delete">刪除</div>
              </div>
              <div class="otherOffice__content" *ngFor="let item of items; let i = index">
                <div class="otherOffice__name">
                  <select class="form-control" (change)="changeOffice(i, $event)">
                    <option></option>
                    <option *ngFor="let calendar of allCalendar">{{calendar.name}}</option>
                  </select>
                </div>
                <div class="otherOffice__role">
                  <select class="form-control" (change)="changeRole(i, $event)">
                    <option value="student">學生</option>
                    <option value="system">系統管理者</option>
                    <option value="teacher">老師</option>
                    <option value="unknow">不知名</option>
                  </select>
                </div>
                <div class="otherOffice__permission">
                  <select class="form-control" (change)="changeAuthority(i, $event)">
                    <option value="read">可讀</option>
                    <option value="write">可寫</option>
                  </select>
                </div>
                <div class="otherOffice__delete">
                  <i class="material-icons" (click)="deleteOffice(i)">
                    delete
                  </i>
                </div>
              </div>
            </div>
            <div class="form__use">
              <h2>用途</h2>
              <textarea class="form-control content"></textarea>
            </div>
          </div>
          <div class="submit">
            送出
          </div>
        </section>
      </article>
    </main>
  </div>
</div>
