<app-navbar></app-navbar>
<main>
  <article>
    <section class="container">
      <div class="title">
        <i class="material-icons">
          notifications
        </i>
        <h1>親愛的使用者您好，您目前沒有權限新增行事曆，填寫用途即可進行申請。</h1>
      </div>
      <div class="form">
        <h2>行事曆名稱：</h2>
        <input type="text" class="form-control">
        <h2>用途：</h2>
        <textarea class="form-control content"></textarea>
      </div>
      <div class="submit">
        送出
      </div>
    </section>
  </article>
</main>
