<div class="wrap">
  <app-navbar></app-navbar>
  <div class="content">
    <div class="bar" *ngIf="user">
      <div class="title">
        <button type="button" class="btn btn-outline-secondary" [routerLink]="['/my-subscribe']">我的訂閱</button>
      </div>
      <div class="container">
        <div class="pretty p-default p-curve p-thick">
          <input type="checkbox" />
          <div class="state">
            <label class="mine">我的行事曆</label>
          </div>
        </div>
        <hr>
        <div class="pretty p-default p-curve p-thick">
          <input type="checkbox" />
          <div class="state">
            <label class="add">學校行事曆</label>
          </div>
        </div>
        <div class="pretty p-default p-curve p-thick">
          <input type="checkbox" />
          <div class="state">
            <label class="add">教務處</label>
          </div>
        </div>
      </div>
    </div>
    <div class="bar" *ngIf="official">
      <div class="title">
        <button type="button" class="btn btn-outline-secondary">學制</button>
      </div>
      <div class="container">
        <div class="pretty p-default p-curve p-thick">
          <input class='calFilter' type="checkbox" value="day" (click)='displayType(eventTypes[0])'/>
          <div class="state">
            <label class="day">日間部</label>
          </div>
        </div>
        <hr>
        <div class="pretty p-default p-curve p-thick">
          <input class='calFilter' type="checkbox" value="night" (click)='displayType(eventTypes[1])'/>
          <div class="state">
            <label class="night">進修部</label>
          </div>
        </div>
      </div>
    </div>
    <div class="calendar">
      <full-calendar #calendar defaultView="listYear" [header]="{
      left: 'prev',
      center: 'title',
      right: 'next'
    }" [plugins]="calendarPlugins" [weekends]="calendarWeekends" [events]="calendarEvents"></full-calendar>
    </div>
  </div>
</div>
