@import '../../styles.scss';

@media screen {

  article {
    padding-top : $height_header;
    padding-left: $width_aside;

    section.container {
      width           : 96%;
      margin          : $content-size_left-right;
      padding         : $content-size_left-right;
      background-color: $color_white;
      box-shadow      : $box-shadow--container;

      h2 {
        font-size  : 30px;
        font-weight: 800;
      }

      h3 {
        display       : flex;
        align-items   : center;
        letter-spacing: 1px;
        margin-bottom : $content-size_top-bottom;

        i {
          color       : black;
          margin-right: $content-size_left-right/2;
        }
      }

      .teach {
        margin-top    : $content-size_top-bottom*3;
        letter-spacing: 1px;

        h4 {
          display    : flex;
          align-items: center;

          i {
            color: black;
          }

          span {
            background-color: black;
            color           : white;
            padding         : $content-size_left-right/2.5;
            margin-right    : $content-size_left-right/2;
          }
        }

        .line {
          width           : 2px;
          height          : 50px;
          background-color: black;
          margin-left     : $content-size_left-right*1.5;
        }
      }

    }

    section.title {
      width           : 96%;
      margin          : $content-size_left-right;
      margin-top      : $content-size_top-bottom*4;
      padding         : $content-size_left-right;
      background-color: $color_accent;
      box-shadow      : $box-shadow--container;
      display         : flex;
      align-items     : center;
      justify-content : center;
      color           : white;
      font-size       : 25px;
      letter-spacing  : 2px;
    }

    section.content {
      display: none;
    }

  }

  .aside {
    position        : fixed;
    z-index         : $z-index_second;
    overflow        : auto;
    box-sizing      : border-box;
    margin-top      : $height_header;
    padding         : $content-size_top-bottom $content-size_left-right;
    width           : $width_aside;
    height          : calc(100vh - #{$height_header});
    background-color: $color_white;
    box-shadow      : $box-shadow--left;

    .item-categories {

      .item-block {
        background-color: white;
        width           : 90%;
        height          : 50px;
        margin-left     : $content-size_left-right/2;
        margin-top      : $content-size_top-bottom/2;
        cursor          : pointer;
        padding         : 15px;
        box-shadow      : -1px 0px 5px -1px rgba(0, 0, 0, 0.24);

        li {
          font-size     : 24px;
          letter-spacing: 2px;
          font-weight   : 400;
          text-align    : center;
          margin-top    : -$content-size_top-bottom;
        }

      }

      .item-block:hover {
        background-color: rgba($color: $color_accent, $alpha: 0.7);
      }

      .item-block.active {
        background-color: rgba($color: $color_accent, $alpha: 0.7);
      }

    }
  }

  .header {
    position        : fixed;
    z-index         : $z-index_first;
    display         : flex;
    align-items     : center;
    justify-content : space-between;
    box-sizing      : border-box;
    padding         : 0 $content-size_left-right;
    width           : 100%;
    height          : $height_header;
    background-color: $color_white;
    box-shadow      : $box-shadow;

    &__title {
      display    : inline-flex;
      align-items: center;
      color      : $color_accent;
      cursor     : pointer;
      outline    : none;
    }

    &__icon {
      margin-right : $content-size_left-right/1.2;
      padding-right: $content-size_left-right/1.2;
      border-right : $color_border solid 1px;
      font-size    : 1.5rem;
    }

    img {
      width     : 30px;
      height    : 30px;
      margin-top: $content-size_top-bottom;
    }

    &__name {
      font-size: 1.3rem;
      letter-spacing: 1px;
    }

    &__navbar {
      display    : inline-flex;
      align-items: center;
    }

    &__person {
      display     : flex;
      align-items : center;
      padding-left: $content-size_left-right/1.2;
      border-left : $color_border solid 1px;
      color       : $color_icon;
      cursor      : pointer;
    }

    &__avatar {
      display        : flex;
      align-items    : center;
      justify-content: center;
      width          : 90px;
      height         : 36px;
      outline        : none;
      color          : $color_text;
    }

  }

}

@media screen and (max-width:480px) {
  .header {
    position: fixed;
    z-index : 998;

    &__function {
      display: none;
    }

    &__icon {
      border-right: none;
    }

    &__person {
      padding-left: 0;
    }

    &__name {
      width      : 30%;
      margin-left: 20%;
    }

    &__title {
      width: 100%;
    }

    &__avatar {
      width: 80px;
    }
  }

  .aside {
    display: none;
  }

  article {
    padding: $height_header $content-size_left-right;

    section.title {
      width        : 100%;
      margin       : 0;
      padding      : $content-size_top-bottom $content-size_left-right/2;
      margin-top   : $content-size_top-bottom*2;
      font-size    : 18px;
      border-radius: 5px;
    }

    section.content {
      display: block;

      section.container {
        display      : block !important;
        width        : 100%;
        margin       : 0;
        margin-top   : $content-size_top-bottom*2;
        border-radius: 5px;
        padding      : $content-size_top-bottom*2 $content-size_top-bottom;
        font-size    : 13px;

        h2 {
          font-size: 20px;
        }

        h4 {
          span {
            text-align     : center;
            justify-content: center;
            width          : 65px;
            margin-right   : 0;
            padding        : 5px;
            font-size      : 5px;
            border-radius  : 5px;
          }

          i {
            color    : black;
            font-size: 14px;
          }

          h6 {
            display    : flex;
            margin-left: $content-size_left-right/3;
            width      : 70%;
            align-items: center;
          }
        }

        h4.two-line {
          margin-top: -$content-size_top-bottom;
        }

        h4.three-line {
          margin-top: -$content-size_top-bottom*3;
        }

        .line {
          margin-left: 30px;
        }

        .height {
          margin-top: -$content-size_top-bottom;
        }
      }
    }

    section.container {
      display: none;
    }
  }
}
