<div class="wrap">
  <div class="head">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" [routerLink]="['/user-calendar']">Calendar</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">建立</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/add-schedule']">建立行程</a>
          <a class="dropdown-item" [routerLink]="['/add-meet']">建立會議</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
          aria-expanded="false">訂閱</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" [routerLink]="['/add-subscribe']">新增訂閱</a>
          <a class="dropdown-item" [routerLink]="['/my-subscribe']">我的訂閱</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" [routerLink]="['/export']">匯出pdf</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" (click)="logout()" type="button">登出</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <div class="title">
      <button type="button" class="btn btn-outline-secondary" [routerLink]="['/add-schedule']">建立會議</button>
    </div>
    <div class="jumbotron">
      <div class="form-group row">
        <label for="static" class="top col-form-label">會議名稱：</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="static" class="top col-form-label">日期：</label>
        <div class="two col-md-8">
          <input type="text" class="form-control" bsDatepicker>
        </div>
      </div>
      <div class="form-group row">
        <label for="static" class="top col-form-label">時間：</label>
        <select class="time form-control col-md-2">
          <option>全天</option>
          <option>上午</option>
          <option>下午</option>
        </select>
        <select class="time1 form-control col-md-5">
          <option>1:00</option><option>1:30</option>
          <option>2:00</option><option>2:30</option>
          <option>3:00</option><option>3:30</option>
          <option>4:00</option><option>4:30</option>
          <option>5:00</option><option>5:30</option>
          <option>6:00</option><option>6:30</option>
          <option>7:00</option><option>7:30</option>
          <option>8:00</option><option>8:30</option>
          <option>9:00</option><option>9:30</option>
          <option>10:00</option><option>10:30</option>
          <option>11:00</option><option>11:30</option>
          <option>12:00</option><option>12:30</option>
        </select>
      </div>
      <div class="form-group row">
        <label for="static" class="top col-form-label">地點：</label>
        <div class="two col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <label for="static" class="top col-form-label">參與人員：</label>
        <div class="col-sm-8">
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="form-group row">
        <button type="button" class="down btn btn-primary disabled" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">進階
        </button>
      </div>
      <hr>
      <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
        <div class="form-group">
          <label for="exampleTextarea" class="top">備註：</label>
          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="inputGroupFile02">
              <label class="custom-file-label" for="inputGroupFile02">選擇檔案</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">上傳</span>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary active">
          <input type="checkbox" checked="" autocomplete="off" [routerLink]="['/user-calendar']"> 取消
        </label>
        <label class="btn btn-primary">
          <input type="checkbox" autocomplete="off" (click)="add()"> 新增
        </label>
      </div>
    </div>
  </div>
</div>
